[2020-10-15 13:02] c-shultz commented on #2081
For showing this on only relevant orders, this PR (in woocommerce-admin) is probably a good reference: https://github.com/woocommerce/woocommerce-admin/pull/3955/files#diff-1290f2486eeca288f78bebf983e05d4c5db793047ebc13cba0f58a3492ed0179R172-R229

That section has checks for physical product orders and US-based orders.

[2020-10-16 14:20] c-shultz commented on #2055
@Ferdev has a good start on this on this draft PR: https://github.com/Automattic/woocommerce-services/pull/2224

[2020-10-16 14:21] c-shultz commented on #2055
I'll move this to the cooldown queue, to prioritize later.

[2020-10-16 14:46] #2217 closed

[2020-10-19 13:38] #2120 closed

[2020-10-19 21:59] #2210 closed

[2020-10-20 08:31] tommyshellberg commented on #2206
Closing as this is taken care of entirely on the server-side through the following issue:

1566-gh-woocommerce-connect-server

[2020-10-20 08:31] #2206 closed

[2020-10-20 15:47] c-shultz commented on #1631
As part of this we'll need to address the phpunit tests that are broken with the lastest WC version: https://github.com/Automattic/woocommerce-services/pull/2216#issuecomment-708064854

[2020-10-20 15:48] c-shultz commented on #1631
One test fix is here: https://github.com/Automattic/woocommerce-services/pull/2216/commits/b4a0030fb1b758f35133fe6e715026212d194a26

[2020-10-20 21:48] c-shultz commented on #1631
There are two phpunit tests that are known to fail against the latest version of WooCommerce.  #2216 will fix one of these.

[2020-10-20 22:46] harriswong opened #2225 "Test build compatibility with composer 2.0"
### Summary
WooCommerce Services uses `composer` to install development packages, such as phpcs and phpunit.

On running composer update

From https://github.com/composer/composer/releases/tag/2.0.0-RC2

and

### Other issues
Relates to https://github.com/Automattic/woocommerce-payments/issues/1034

[2020-10-21 10:38] tommyshellberg commented on #1433
I cannot reproduce this any longer, if you could please try to reproduce this again @rynaldos it would be much appreciated. The logic for short-circuiting the TaxJar API request is here:

https://github.com/Automattic/woocommerce-services/blame/2ac10740744cc5330b96d3f0eebfa676e74a4c0d/classes/class-wc-connect-taxjar-integration.php#L839

The plugin will skip the API request if one of the following

[2020-10-21 10:38] #1433 closed

[2020-10-21 14:11] FreshPhil opened #2226 "Tax reports don't break down taxes with enough detail"
This is a follow up to a Slack conversation: p1603061005032000-slack-CTYKKGC1Y

## Problem
When using Automated Taxes, the `WooCommerce > Reports > Taxes` report does not show a break down of the tax rates that were used/charged.

All transactions within a state are shown as a single rate. For example, all sales for a California based company would be filed under the `US-CA-CA TAX-1` tax.

This is

[2020-10-21 23:06] harriswong opened #2227 "Updating store's product's dimensions unit does not update WCS' package settings"
### Summary
When we update the "Dimensions unit" in WooCommerce's Settings, the package dimensions in WCS does not get updated.

### How to reproduce
1. Create a shipping label, click "add package" and create a package box. In my example, I named my box 10x10x10 inches. My store's dimensions are in `cm` so the box is 25.4cm.
![image](https://user-images.githubusercontent.com/572862/96798913-211a87

[2020-10-22 12:59] frosso commented on #2227
I noticed this as well. The same thing happens with product dimensions.
When changing the units, the product dimensions are also not updated. Should it be happening in both places?

[2020-10-22 14:46] #2195 closed

[2020-10-22 17:00] harriswong commented on #2227
I think it makes sense that if the unit is updated, the whole platform's existing values should be converted. The flip side is that, I can see that someone saved the wrong unit in settings, they want to change the unit without all the conversions. I am not sure if WC core had already talked about that. Maybe there should be a extra checkbox "convert all values to this unit". :D

For WCS, maybe we

[2020-10-22 17:46] senff commented on #2185
Came across this in #25076632-HC.

Additional note: when you go through the purchase of the label, it actually doesn't charge you for the signature option at all.  In a test we did, it would only charge the amount on the right (so that would be $7.94 in the example above) and not the full amount ($10.59).

CC: @jrick1229

[2020-10-22 20:33] #2202 closed

[2020-10-22 21:29] harriswong commented on #1166
I gave a few iPad a test on browserstack. It seems like a few of them stopped including `iPad` in their `navigator.userAgent`.
![image](https://user-images.githubusercontent.com/572862/96931832-2b9a5680-147b-11eb-9bab-5ef3a8c87fdc.png)

This causes the condition to fall back to `default` and use `print()` as it described originally in this issue.

[2020-10-23 20:12] tijosh commented on #2185
3419899-zen

[2020-10-23 21:17] c-shultz commented on #1922
Fixed by https://github.com/Automattic/woocommerce-services/pull/1931

[2020-10-23 21:17] #1922 closed

[2020-10-26 04:53] anant1811 commented on #2185
Also reported in 3434366-zen

[2020-10-26 16:04] c-shultz opened #2232 "Input validation does not allow dimensions starting with a zero"
When adding a new package, the dimension inputs do not allow entry of values starting with zero (e.g. 0.1):
<img width="612" alt="image" src="https://user-images.githubusercontent.com/6209518/97196441-b32ce180-1769-11eb-8fc1-88f31704c7ba.png">

 The total package weight does the same thing:
<img width="1288" alt="image" src="https://user-images.githubusercontent.com/6209518/97196706-030ba880-176a-

[2020-10-26 16:13] #1166 closed

[2020-10-26 17:45] harriswong commented on #1367
Steps to reproduce [the remaining problem](https://github.com/Automattic/woocommerce-services/issues/1367#issuecomment-702178014).

1. Make sure WCS' Automated Taxes is "Disabled automated taxes" and "Yes, I will enter prices incluesive of tax" is checked.
![image](https://user-images.githubusercontent.com/572862/97204987-6b638580-177c-11eb-8214-5178c0bceb7f.png)

2. Create a Simple Product, with

[2020-10-26 20:14] harriswong commented on #1367
Added additional message to explain why exclusive tax is needed when WCS Automated Tax is enabled.
![image](https://user-images.githubusercontent.com/572862/97223554-8c84a000-1795-11eb-8af7-8aedb9ea1545.png)

[2020-10-26 21:11] c-shultz opened #2234 "Add dynamic carrier account registration form"
Users should be able to bring their own carrier accounts for any carrier that we offer carrier/child accounts for.

The work on this will include:
- Creating an endpoint in the plugin that can be used by the React front-end to get the fields from the Connect Server (Connect Server endpoint PR for this is stable enough to use for testing: https://github.com/Automattic/woocommerce-connect-server/pul

[2020-10-26 23:23] harriswong commented on #1505
Hi @mouligreenlaw, I am using this [USPS pricing sheet](https://pe.usps.com/text/dmm300/Notice123.htm#_c037) and this [USPS dimension sheet](https://pe.usps.com/text/dmm300/Notice123.htm#_c227) as a rough guide to determine what package is available for what shipping method (ie. "Priority", "First Class", etc). I have a few questions:

1. Are you using "custom package" or specific "service package

[2020-10-27 09:36] #2180 closed

[2020-10-27 18:50] fylgjur opened #2235 "Shipment tracking meta box shows up even when shipping label options disabled"
A user in 3441996-zen noticed that with the extension Shipment Tracking enabled, the shipment tracking meta box shows up twice. I can reproduce this even with the shipping label function of WooCommerce Shipping and Tax disabled:

![double shipment tracking](https://user-images.githubusercontent.com/65490337/97347062-2f1b4c80-1884-11eb-874d-4e08a5a5e391.png)

@c-shultz via A8C Slack says: "It looks

[2020-10-27 20:58] bborman22 opened #2236 "Add WooCommerce.com connection information to Connect server requests"
To allow the Connect server to check for any WooCommerce.com subscriptions, it will need some of the merchant site's WooCommerce.com connection information when available. The key pieces of information needed are:

- The `woocommerce_helper_data` option `access_token`.
- A signature for a `GET /subscriptions` request to WooCommerce.com. (The following [signature implementation](https://github.com/

[2020-10-28 14:49] c-shultz commented on #2235
I just also noticed that the toggle does disable the ability to print labels by removing the button:
<img width="1172" alt="image" src="https://user-images.githubusercontent.com/6209518/97452402-f023e000-18f1-11eb-942a-f36c056477c4.png">

I think we can safely hide the top meta box along with the "Shipment Tracking" meta box when the toggle is disabled.

[2020-10-28 15:53] c-shultz commented on #2025
Let's go ahead and fix this so we don't see the warning in 5.3

[2020-10-28 16:08] tommyshellberg commented on #2081
@elizaan36:
We discussed this as a team and wonder if having a more explicit Call to Action would be helpful, e.g. something that mentions actual functionality that the WooCommerce Shipping & Tax plugin can provide.

Maybe something along the lines of "WooCommerce Shipping & Tax can generate a shipping label for this order"?

[2020-10-28 16:38] harriswong commented on #1367
Hi @elizaan36!

We want to help user understand that automated tax only works with "exclusive tax". ie. Product prices can't include tax. I added [this message](https://github.com/Automattic/woocommerce-services/issues/1367#issuecomment-394648875) and want to ping your thoughts:
![image](https://user-images.githubusercontent.com/572862/97467009-5cf6a480-1909-11eb-8f0b-70d0825ddbd1.png)

I thought

[2020-10-28 20:42] #2211 closed

[2020-10-28 20:47] tijosh commented on #2185
Also reported in 7974539-hc

[2020-10-28 21:27] senff commented on #2185
Also reported in 25237113-HC

[2020-10-28 21:28] elizaan36 commented on #2081
I like both of those options, or riffing a bit how about this:

`Tip: Print a shipping label for this order using WooCommerce Shipping`

(no period on the sentence needed)

[2020-10-28 21:36] elizaan36 commented on #1367
Hey @harriswong - when automated taxes are enabled do you think it would be a good idea to default to the `Yes, I will enter prices exclusive of tax` option and disable the other one?

Then you don't need the extra message after "powered by WooCommerce Tax". The tooltip you're showing there isn't very clear. Could it say something like, "If automated taxes are enabled, you'll need to enter prices

[2020-10-28 22:39] mouligreenlaw commented on #2226
Closing the original ZD ticket and adding the number here so they will get notified hopefully:
3411927-zen

[2020-10-28 22:40] harriswong commented on #1367
@elizaan36 Yep! We actually already do that. When the user first install WCS and we activate automated taxes for them, or if they click "Enabled automated taxes" manually, we default the option to "No, I will enter prices exclusive of tax". It would look like this:
![image](https://user-images.githubusercontent.com/572862/97503403-93004c80-193a-11eb-8177-c5694d158426.png)

[One problem](https://gi

[2020-10-28 23:13] elizaan36 commented on #1367
Ah ok, thanks for the details @harriswong ! Just to clarify, would this message be useful in the Products area when the merchant is entering their pricing for each product? I could see it being useful if WCShip could trigger a tooltip to inform users there (the first time they enter a price after automated taxes are enabled), in case people don't make it to their Settings.

[2020-10-29 04:48] aleftick opened #2240 "Updating the links on WC-Admin Plugins page"
On the plugins page in WP-Admin (/wp-admin/plugins), plugins can have links under the title and in the description.

<img width="1118" alt="Screen Shot 2020-10-29 at 12 32 10 AM" src="https://user-images.githubusercontent.com/2545592/97525861-33c42b80-197e-11eb-9d3c-cb616aae9bfd.png">

Could we update those links?
Under the title:
- Shipping Settings --> /wp-admin/admin.php?page=wc-settings&tab=sh

[2020-10-29 10:14] tommyshellberg commented on #1367
I wonder if another option is to disable the option of enabling Automated Taxes if `Prices Entered with Tax` is "inclusive of tax". This could be supplemented with a notice saying that `Prices Entered with Tax` needs to be `exclusive` in order to activate Automated Taxes and that prices may need to be recalculated since they will be changed when editing that setting.

[2020-10-29 10:15] tommyshellberg commented on #2081
I like your idea, thanks @elizaan36 🙇

[2020-10-29 16:05] harriswong commented on #1367
@elizaan36 I think adding the message in the product price area is useful. It also helps user to realize that they need to update their existing product tax-inclusive pricing, which they created prior to installing WCS.

I also like @tommyshellberg's suggestion. Instead of doing the low hanging fruit message, maybe we can disable "automated tax" for users that have selected "No, I will enter price

[2020-10-30 02:23] mouligreenlaw opened #2242 "Initiating a label refund for Priority Post labels generated an error regarding USPS First Class Letter refunds"
Requesting refund on labels for Priority Mail via WooCommerce Shipping and Tax results in an error saying:

`First Class Mail letters are not eligible for refund by USPS`

They are using
WooCommerce Shipping & Tax: by Automattic – 1.25.1
and the changelog indicates that:
`Add - Disable refunds for USPS letters.`

I can initiate a refund on the same label from the users RC without the issue

**Orig

[2020-10-30 14:36] #2025 closed

[2020-10-30 20:57] c-shultz commented on #2225
Done! No issues found: https://wcship.wordpress.com/2020/10/30/composer-2-compatibility-audit/

[2020-10-30 20:57] #2225 closed

[2020-11-02 19:00] senff commented on #2185
Also reported in 23364984-HC

[2020-11-03 20:59] c-shultz commented on #2040
Done

[2020-11-03 20:59] #2040 closed

[2020-11-04 16:18] frosso commented on #1576
From a preliminary investigation, it looks like the issue is caused by the notices displayed on the checkout page when the "debug" checkout flag is "on" and both the "USPS live rates" and the "automatic taxes" functionality of the plugin are enabled.

![Screen Shot 2020-11-04 at 9 37 44 AM](https://user-images.githubusercontent.com/273592/98136561-b2413180-1e86-11eb-877b-bab58ffd0ded.png)

If a si

[2020-11-04 20:35] frosso commented on #1598
Closing, since the rename has been done in https://github.com/Automattic/woocommerce-connect-server/pull/1291

[2020-11-04 20:35] #1598 closed

[2020-11-05 03:25] tijosh opened #2247 "WooCommerce Subscriptions Renewals: Critical error with WooCommerce Tax and Avatax"
### Description

When WooCommerce Shipping & Tax is active with “Enable automated taxes”, and AvaTax is also active and calculating taxes, WooCommerce Subscriptions renewals cause the site to throw a critical error and do not complete.

### Steps to Reproduce

1. Install WooCommerce Shipping & Tax, WooCommerce AvaTax, and WooCommerce Subscriptions
2. Configure AvaTax account so that tax calculatio

[2020-11-05 11:54] jessepearson opened #2249 "No way to override rates from TaxJar if they are incorrect"
Following up to the thread here:
p1604238751225700-slack-C7U3Y3VMY

In this particular instance the customer would like to override tax rates for Tenerife to 0%. This is due to although Tenerife is located within the EU, they do not get charged VAT. TaxJar is retuning VAT rates and applying them to customers with addresses in Tenerife.

This means there are two problems:

* TaxJar is returning inc

[2020-11-05 18:39] harriswong opened #2250 "Add a description paragraph to dynamic carrier registration form"
Blocks by https://github.com/Automattic/woocommerce-services/issues/2234

### Summary
In #2234, we create a registration form dynamically for each carrier. We need to include a paragraph on the left for each of them:
![image](https://user-images.githubusercontent.com/572862/98282227-251bdc80-1f5b-11eb-85f2-a9c6697d7a3a.png)

### Proposed solution
1. Use a generic paragraph for all carriers. Find o

[2020-11-05 23:35] frosso commented on #1827
Moved to feature for discussion: https://github.com/Automattic/woocommerce-shipping-issues/issues/123

[2020-11-05 23:35] #1827 closed

[2020-11-06 04:36] jkampmeier83 commented on #2185
Please fix! This is a critical issue for us. Is there a funding option to help prioritize bugs like this?

[2020-11-06 19:15] harriswong opened #2252 "Add carrier_id to REST connect controller's payload"
As we support more carriers, the `carrier` param can not be assumed to be just `usps`. We will need to add the missing `carrier` property in the payload that's sent through connect controller's. `carrier` should be the name and value is the carrier_id, ie. usps.

I found [2 end points](https://github.com/Automattic/woocommerce-services/blob/da175ed6b473fa7b9cfc1c232a752a9921bbca26/client/extension

[2020-11-09 18:38] harriswong commented on #2234
@c-shultz for the 3rd bullet above, should this be hold off until the server-side registration end point is done? I can create a follow-up as block.

[2020-11-09 23:37] c-shultz commented on #2234
Creating a follow-up for that sounds good, @harriswong

[2020-11-09 23:48] harriswong opened #2253 "Add DHL Express to carrier registration settings page"
This is a follow-up from https://github.com/Automattic/woocommerce-services/issues/2234. In that PR, we introduced the dynamic registration form so that user can register any carriers that our server supports. However, at that time, [the end point](https://github.com/Automattic/woocommerce-services/pull/2243/files#diff-38212f277e40cc97220c3050fb4f3881719aad5d21080518fe4cc24217ec803eR15) does not s

[2020-11-09 23:49] harriswong commented on #2234
Added follow-up https://github.com/Automattic/woocommerce-services/issues/2253 and updated description in this issue.

[2020-11-10 08:16] madeincosmos commented on #2005
User in 3476170-zen would also prefer to have it checked by default. Would be fantastic if the plugin remembered previous user's preferences.

[2020-11-10 11:47] damiannep commented on #1893
Another report of this in 3476407-zen where the user has several cases of purchasing duplicate labels.

[2020-11-10 16:51] frosso commented on #1576
Discussed on team meeting Nov 10th.
A few different implementation ideas came up.
We'll change the implementation so that if TaxJar tells us about any error with the billing, we'll clear out the ZIP code at minimum (or the whole billing) so that it's not cached.

This will allow customers to edit their cart again.

[2020-11-10 17:24] frosso commented on #1619
Hey @ldr2273 !

The "shipping" checkbox is checked automatically because TaxJar is saying that based on the "from" and "to" addresses, shipping charges should be taxed.
This is by design and can be demoed at the following address: https://developers.taxjar.com/demo/
I'm not sure what your "from" address was, but you can also double check at that demo page and see if a `freight_taxable: true` attri

[2020-11-10 17:24] #1619 closed

[2020-11-11 14:07] bborman22 opened #2255 "PHP 8 Compatibility"
- [x] Set up a development environment with PHP 8, latest WC version from GitHub, and nightly WordPress(you can do this with the WordPress Beta Tester plugin).

- [x] Go through settings pages and test basic functionality of plugin while watching for fatal errors and warnings in logs.

- [x] Check for incompatible method signatures in inherited classes: https://php.watch/versions/8.0#lsp-errors
Lo

[2020-11-11 15:46] mdmoore commented on #2242
Just noting here that this is possibly preventing First Class Package refunds as well.  The same error is occurring, but the label is not a letter.  Gathering more details in 3470714-zen

[2020-11-11 16:57] c-shultz commented on #2185
We're bumping this up to critical priority and we'll plan on addressing it as soon we can in our next scheduled patch release.

[2020-11-11 21:54] katinthehatsite commented on #2242
we have another report in 3476407-zen

[2020-11-12 08:40] damiannep commented on #1893
Another case in 3456131-zen

[2020-11-12 16:59] mdmoore commented on #2242
Another report in 3482600-zen.

[2020-11-12 20:54] #2232 closed

[2020-11-16 14:44] melindahelt commented on #2185
3476207-zen

[2020-11-16 21:33] DustinHartzler opened #2256 "DHL Label Resolution"
In 25672443-hc the chatter shared how they feel that the labels are scaled at full 8.5 x 11 and are being shrunk down on their 4x6 label printer.

Here's a few examples of images printed labels from WooCommerce Services:
![yFvZN0](https://user-images.githubusercontent.com/2293077/99310592-3c937900-2829-11eb-90cf-e3945da59e85.jpg)

![Ss0DPQ](https://user-images.githubusercontent.com/2293077/9931060

[2020-11-16 21:37] c-shultz commented on #2256
I'll mark this for Fulfill team discussion to take a look about if this is expected behavior.

[2020-11-16 23:26] c-shultz commented on #2250
Let's start with a generic solution on this and we can enhance it with carrier-specific links/text in the future if needed.

[2020-11-17 01:48] aleftick commented on #2256
@DustinHartzler Thanks for getting photos of the printed labels. That helps a lot.

[2020-11-17 15:55] c-shultz opened #2257 "Display subscription usage in wp-admin"
Merchants should be able to see their subscription usage in wp-admin ~in the WooCommerce.com extensions list:~
[removed previous design screenshot that adds usage data in WooCommerce Extensions screen]

**Usage should be displayed in WCShip settings area in new "Shipping method" card:**
![image](https://user-images.githubusercontent.com/6209518/101380868-e8e5df80-386a-11eb-8c5c-21d6770d7a47.png)

[2020-11-17 18:46] bborman22 opened #2258 "PHPUnit tests with PHP 8"
While testing WooCommerce Shipping & Tax with PHP 8 and WP 5.6 I ran into an issue with running PHPUnit with PHP 8. The summary is that WordPress only supports up to PHPUnit 7.x, but PHPUnit 7.x doesn't support PHP 8. You can see the [WP core issue](https://core.trac.wordpress.org/ticket/50902) and their solution was to essentially [override the problematic pieces](https://core.trac.wordpress.org/

[2020-11-17 18:52] bborman22 commented on #2255
Ran code through linters, compatibility sniffer, smoke test of functionality, and manual review of any possible areas for issues and only ran into one issue related to PHPUnit testing which is captured in #2258. In addition to checking for PHP 8 deprecations, I also looked for any jQuery deprecations and didn't find any. Marking issue as closed as the only problem found has been captured in anothe

[2020-11-17 18:52] #2255 closed

[2020-11-17 21:22] stephhjacq commented on #2242
Another report in 3493533-zen

[2020-11-18 11:34] tommyshellberg commented on #2185
Looks like this was a regression from this commit and line:

https://github.com/Automattic/woocommerce-services/commit/e56282496359932c1a9156759abe588e79f14e88#diff-e887c50e5d70e9b03b502e230e6985709e604b0ed995a0e33335eacfe2addfddR57

We changed the ShippingRates component's `onRateUpdate()` function signature from two to three parameters(added carrier_id) but the ShippingRate child component's cal

[2020-11-18 14:49] tommyshellberg opened #2260 "Create an e2e test to cover "Required Signature" option for label requests."
This was prompted as a result of working on #2185. The unit tests were passing and working correctly because the price was updating within the ShippingRate component itself:

https://github.com/Automattic/woocommerce-services/blob/develop/client/extensions/woocommerce/woocommerce-services/views/shipping-label/label-purchase-modal/rates-step/test/shipping-rate.js#L206

However, this issue is due to

[2020-11-18 21:14] #2234 closed

[2020-11-18 22:39] c-shultz commented on #1602
Closing this in favor of #1576

[2020-11-18 22:39] #1602 closed

[2020-11-19 00:38] tijosh commented on #2247
@c-shultz Agreed, there is no good reason to have both active. It can happen by accident, though, and it’s not always clear that “Enable Automated Taxes” is strictly limited to WooCommerce Taxes. A common misconception is that it functions more like a general on/off switch for taxes site-wide (such as the option at Settings > General).

[2020-11-19 00:43] #2136 closed

[2020-11-19 15:01] #2185 closed

[2020-11-19 20:43] brezocordero opened #2263 "Unexpected high number of DHL live rates requests on cart and checkout"
With DHL live rates enabled, the number of API requests per page load on cart and checkout is unexpectedly high.

To reproduce:

1) Use a site with DHL Express live rates on checkout
2) Add a product to the cart
3) Check the number of API requests

Expected to have 1 request, found 3 to 5.

Settings to investigate:
- Ajax calls
- Caching
- Debug mode on

[2020-11-20 00:07] #1367 closed

[2020-11-20 01:27] aleftick commented on #2242
This is related to #2223.

USPS First Class Mail and First Class Mail International letters aren't refundable. However, everything else is refundable including:
- Letters shipped with other USPS services (such Priority and Priority Express)
- Letters shipped using USPS's flat rate envelopes (pre-define packages) - They all use Priority and Priority Express.
- Letters shipped with other couriers
-

[2020-11-20 23:17] #2242 closed

[2020-11-23 03:05] aleftick opened #2267 "Broken link for the "HS Tariff number" explanation"
When merchants want to create an international label, they must fill out a customs form. There is a field for "HS Tariff number" and a link for `more info`. That link is broken.

Since we change the Woo Docs and move content to a new page, the link needs to be updated to:
https://docs.woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-shipping/#section-27

![image](https://user-imag

[2020-11-23 20:07] frosso commented on #2253
I noticed that as soon as we return DHL-related accounts, the whole settings page breaks:
![99862908-45ee4f80-2b61-11eb-990f-3e67705b1233](https://user-images.githubusercontent.com/273592/100009890-11fb7000-2d95-11eb-8546-dc1d90976f80.png)

I started the work to ensure the plugin works in https://github.com/Automattic/woocommerce-services/pull/2265

Also, this is blocked by https://github.com/Auto

[2020-11-23 23:55] c-shultz commented on #2257
After some discussions, we're going to re-think where this should be displayed, so I'm going to mark this as blocked pending further design discussion

[2020-11-24 00:26] harriswong commented on #2257
Adding some notes to this.

I don't think there is a good way to hook data in unless we add a new hook. The subscription is pulled from [here](https://github.com/woocommerce/woocommerce/blob/master/includes/admin/helper/class-wc-helper.php#L115). We will notice that there are no hooks all the way down to [line 349](https://github.com/woocommerce/woocommerce/blob/36108a2c83b2243b02c3fc3795cd72ae75e

[2020-11-25 20:33] frosso commented on #2172
I picked it up because it was easy enough and I was tired to see the warning in the console 😄

[2020-11-26 14:26] #2267 closed

[2020-11-26 18:26] frosso commented on #2253
Fixed everything.

[2020-11-27 17:49] allendav opened #2272 "Blank shipping label generated on MacOS Safari (works on Chrome)"
I purchased a USPS First Class International stamp (US to Russia) for an order on my store using Safari on MacOS Big Sur. The PDF sent to me was blank. Totally empty.

<img width="1440" alt="blank-on-safari" src="https://user-images.githubusercontent.com/1595739/100474524-aa476c80-3095-11eb-8c4d-4c0d2efc739e.png">

I opened Google Chrome on the same machine and was able to "reprint" and get a prop

[2020-12-01 22:12] #2250 closed

[2020-12-02 14:45] #2253 closed

[2020-12-02 16:26] aleftick opened #2273 "Refund Status Emails"
When a merchant requests a refund, we don't notify them by email if it was approved/rejected and when the refund is issued.

The only way they can see the status is via the Shipping Tracking panel on the order page.
<img width="292" alt="1JH5d3ltvY" src="https://user-images.githubusercontent.com/2545592/100900116-7f438b00-3490-11eb-9aa2-5f9fa0801f63.png">

Let's email merchants to let them know th

[2020-12-03 13:21] tammullen opened #2274 "[GlobalStep - PHP 8 + WooCommerce 4.8 RC 1] "Fatal Error" page is displayed upon creating order from backend with Zero product quantity."
Raising this on behalf of @gglobalstep
This issue is copied from https://github.com/woocommerce/woocommerce/issues/28472
**I believe this is related to PHP 8 as I have only been able to reproduce it with PHP 8 site.**

## Bug Description:
"Fatal Error" page is displayed upon creating order from backend with Zero product quantity.

## Environment:
Windows 10, macOS Catalina: v10.15.7 (19H15)
Browse

[2020-12-04 19:19] bborman22 opened #2276 "Destination Address Phone Number is required for DHL Express and UPS International Orders"
We had been getting a few reports of merchants unable to purchase DHL Express labels and receiving a generic error message. Upon digging deeper it appears that the Destination Address Phone number is a required field for these label purchases. With some testing I was able to confirm that this error is triggered when purchasing an international label through DHL Express or UPS, but is not triggered

[2020-12-04 19:35] frosso commented on #2256
Also reported here: https://wordpress.org/support/topic/shipping-label-quality/

[2020-12-04 20:33] aleftick commented on #2276
I emailed DHL to confirm what they require. It could be that the recipient email is sufficient and if so that might make it easier for merchants to comply (since all orders tend to have that info).

[2020-12-07 17:04] c-shultz commented on #2257
Updated with new design from @elizaan36 that puts the usage info a new card

[2020-12-07 23:22] brezocordero commented on #2257
@c-shultz What is expected to happen when the user clicks on the button `Manage` on the subscription list item?
Go to `wp-admin/admin.php?page=wc-addons&section=helper`? To `WooCommerce.com`? Something else?

[2020-12-08 00:13] c-shultz commented on #2257
It looks like Manage should go to: https://woocommerce.com/my-account/my-subscriptions/

[2020-12-08 14:47] jessepearson opened #2278 "Add tracking number to order view in My Account > Orders > (Order)"
I had a request come in today 3556871-zen where the merchant was wanting to have the tracking information added to the customer order view under My Account > Orders > (Order). After getting other HEs that had labels on their accounts to take a look, I reviewed the code and was surprised that this was not an option.

Would it be possible to have this added?

[2020-12-08 19:52] bborman22 opened #2279 "Display issue for checked radio button on Rates Step"
When selecting a shipping rate from the Create Shipping Label model, the pink dot to signify the checked radio button is off center with the radio button outline. This issue appears to have been introduced with updating WooCommerce to version 4.8.

![Off Center Radio Button](https://user-images.githubusercontent.com/68524302/101533514-edda8a00-3963-11eb-9e66-65c681c46e6d.png)

**Steps to Reproduce

[2020-12-08 20:14] lindamork commented on #2276
#3554060-zd  (opened as a followup to Senff's chat above) I’ve confirmed that a phone number was added to the Destination address for DHL, but in this case it’s a 13 digit number for China. Any chance it’s not liking 13 digits over the regular 10 and that’s why it’s refunding @bborman22 ? Thanks!

<img width="736" alt="Markup 2020-12-07 at 14 38 09" src="https://user-images.githubusercontent.com/1

[2020-12-09 14:27] JBSurfs commented on #1576
Having the same problem for months now.  Tried the suggestions from 2246, but I am not getting the same results.  I have taxes on, turned debug off and still get the same error message on checkout for wrong zip or taking too long to enter zip. Additionally, I am unsure of the usps live rates being on or off.  I can not find how to turn it off without additional problems.  ( i offer free shipping,

[2020-12-09 18:58] bborman22 commented on #2276
@lindamork I checked in with EasyPost and this particular shipment was prevented because of a limitation they introduced then rolled back. This user should now be able to purchase this label with that limitation rolled back.

For broader reference the message from EasyPost was:

Since these reasons for purchase rejections could vary, we have created an issue on the Connect server to log and hopefu

[2020-12-09 23:17] senff commented on #2276
The customer who reached out to us in #26172868-HC (and Linda's follow-up #3554060-zd) reported that they were able to print the label now, so that particular one is solved. Thanks!

[2020-12-10 15:29] dani-elo commented on #1891
3552845-zen for sending an update when this is resolved.
User is selling Digital Goods in the EU.

I have suggested [following this document that explains how to configure that manually](https://docs.woocommerce.com/document/setting-up-eu-vat-rates-for-digital-products/) or Taxamo as workarounds.

[2020-12-11 15:28] #2172 closed

[2020-12-14 16:53] aleftick opened #2282 "Displaying First-Class Package vs First-Class Mail."
We currently display USPS First-Class Package service as USPS First-Class Mail. It is confusing merchants.

Anything package with a thickness over 3/4 in, should be presented as USPS First-Class Package.

![image](https://user-images.githubusercontent.com/2545592/102109799-7349b880-3e02-11eb-9914-2434bc572c8c.png)

We already have algorithms to differentiate USPS First-Class Mail vs USPS First-Cla

[2020-12-14 19:00] c-shultz opened #2283 "Add activation link for unactivated wccom subscriptions"
![image](https://user-images.githubusercontent.com/6209518/102123121-578ee400-3dfb-11eb-9632-770e2989fda9.png)

The above card would show with "manage" if they had the subscription activated. The card would also show if the site is connected to WooCommerce.com and the associated user account has an unactivated subscription to the DHL live rates product: and in that case the button would show "Acti

[2020-12-14 19:00] c-shultz commented on #2283
One question - does the WCCOM subscription page allow subscription deactivation?

[2020-12-14 19:21] elizaan36 commented on #2283
The design has changed in the WCCOM subscriptions area since I last looked. I don't see anything that says "Deactivate" specifically, but I think "Disable auto-renew" in the dropdown is essentially deactivating the subscription.

<img width="797" alt="Screen Shot 2020-12-14 at 1 18 10 PM" src="https://user-images.githubusercontent.com/5121465/102125357-2ddfb800-3e0f-11eb-9ca2-3b6310fadf4f.png">

[2020-12-15 15:46] brezocordero opened #2285 "Add transients to cache API live rates response"
Following the investigation for : #2263
Add transients to store API [live rates response](https://github.com/Automattic/woocommerce-services/blob/eedd4af2d536e4fef2223879f24359e553f20bb9/classes/class-wc-connect-shipping-method.php#L347), to reduce the number of API requests.
The reduction will be more visible on sites that do not have persistent object cache.

[Example](https://github.com/woocomm

[2020-12-15 15:47] brezocordero commented on #2263
Investigation here: https://wp.me/pbIwZe-hv

[2020-12-15 15:47] #2263 closed

[2020-12-15 20:11] #2257 closed

[2020-12-16 18:14] c-shultz commented on #2282
The change here may also be on the API server side. We should take a look at the service definition constants to see if this could be  simple rename or check in the Connect Server.

[2020-12-17 16:53] harriswong commented on #2227
We had a team discussion about this. To avoid confusion, WCS should do the same thing as what core is doing. If the product dimension doesn't get updated, we shouldn't update as well.

If this started becoming the problem for the users, we should explore options to include an option for user to convert all units when they update store unit settings.

We will continue to leave this as is. Closing.

[2020-12-17 16:53] #2227 closed

[2020-12-17 17:05] aleftick commented on #2256
Another early adopter of DHL (Overkill Solar) reported a similar issue to me.

Merchant: My thermal printer has trouble printing the labels, is there any way to get them in ZPL format?
Me: That format is not available. You can print 4x6 labels. Could you share a bit more about what is the trouble you are having? Is it the quality of the printing using a pdf?
Merchant: It allows me to select DDP se

[2020-12-17 17:29] c-shultz commented on #2256
One update on this: we looked into the file formatting and don't see any quality issues with the generated PDFs. We're planning on testing this against some different label printers to see if the resolution capabilities of the printers are acceptable for the DHL Express labels. DHL fits a lot of text on their labels, so it may be pushing the resolution capabilities to the limit

[2020-12-21 23:35] #2283 closed

[2020-12-22 08:01] madeincosmos commented on #2005
One more user who prefers to have it checked by default in 11067239-zen

[2020-12-22 21:53] DanReyLop commented on #2272
OMG, that Print dialog must be the buggiest piece of code I have ever written. (Not really "buggy", it just breaks like every year).

I would assume it has something to do with the new Safari "Privacy Protections", since we're dealing with an `<iframe>`?

cc/ @harriswong for visibility.

Reported by a user in 3593750-zd-woothemes

[2020-12-23 18:13] seb86 opened #2290 "Does this plugin work with WooCommerce Blocks?"
The WooCommerce Blocks store REST API is blocked from what I understand reading the code currently. There is no condition to allow the calculation of totals should the cart and checkout blocks be used.

I have yet to test and verify as I don't have a US store but I think this is important to address.

JetPack is allowed but then all other REST API requests are ignored so I pushed a PR to allow `wc

[2020-12-23 18:25] seb86 opened #2292 "Should be allowed to request shipping/tax API for third-party REST API"
This issue is an enhancement request to allow third-party REST API's request shipping/tax API via a filter.

I have pushed a PR for this. https://github.com/Automattic/woocommerce-services/pull/2291 It will allow me to support automated shipping and taxes in my REST API [CoCart](https://cocart.xyz).

In addition, another filter also had to be added to allow third-party plugins check if we should s

[2020-12-23 18:31] seb86 commented on #2292
Example of use.

[code]

[2020-12-25 09:40] arunsathiya opened #2294 "Automated taxes turn on randomly, especially when the plugin is updated (no reproducible steps)"
#### Issue

We have a report that WooCommerce Services' automated taxes functionality gets turned on at random times, especially when the plugin is updated. It's particularly helpful to note that the reporter mentioned:

As I understand, it's after this update, the plugin's automated taxes functionality was automatically enabled.

#### Steps to reproduce

We do not have reproducible steps. I teste

[2020-12-30 19:57] waclawjacek commented on #2005
Is this something that should be stored on a per-user or site-wide basis?

**Paper size** is another similar setting that is currently updated (at least) when:

* Its value is changed manually via `WooCommerce > Settings > Shipping > WooCommerce Shipping`.
* A label is printed.

The "Paper size" setting is stored site-wide, i.e. the next label purchase's paper size will default to the size selecte

[2020-12-30 21:09] elizaan36 commented on #2005
Great questions @waclawjacek

It should be saved site-wide rather than per user, consistent with the paper selection as you pointed out. This will solve the majority of issues we've seen here.

And saving last selected for the other checkbox (when an order is complete) makes sense too.👍

[2020-12-31 14:25] waclawjacek commented on #2005
Should the value for the **Notify the customer with shipment details** checkbox be stored as a separate setting?

[2020-12-31 15:13] elizaan36 commented on #2005
Yeah, I think it should be stored as a separate setting. It's a different use case altogether since the order has already been fulfilled. It's probably a one-off event, for example reprinting a label in which case the merchant may not want the checkbox to be selected by default (even if their unfulfilled orders have the checkbox selected by default.)

[2021-01-04 17:43] harriswong commented on #2272
Thanks for the ping! I recently worked on a [similar iOS printing issue](https://github.com/Automattic/woocommerce-services/issues/1166) and it may be related.

[2021-01-05 17:43] shaunkuschel commented on #2272
Received another report of this via 5306808-hc. Confirmed they were using MacOS/Safari and suggested Chrome as a workaround.

[2021-01-05 21:15] billrobbins commented on #2272
One more report just now.  26804580-hc

[2021-01-05 21:38] brezocordero opened #2296 "UPS Account registration - Invoice Number should allow letters"
When connecting your own UPS account, the form validation for the invoice number only allows digits.
It should allow letters and digits.

To reproduce:
1. With WooCommerce and WooCommerce Services and Tax active on a site
2. The site needs to have the flag active to use UPS rates
2. Got to WooCommerce > Settings > Shipping > WooCommerce Services
3. Scroll down and click on Connect next to UPS
4. E

[2021-01-06 20:30] frosso opened #2297 "feat: add handling instructions field"
## Description

User request from https://wordpress.org/support/topic/print-order-notes-on-labels/

Merchants would find useful to add handling instructions to the shipments.
Handling instructions can be "Leave at the side door" or "Handle with care".

The server would also need to handle this field.

See `handling_instructions` option on EP.

[2021-01-06 21:15] Zohaib321 commented on #2256
Hi Shultz,
I am one of the people to reported low label quality issue but I am printing usps labels not DHL so it may not be an issue with pushing the resolution capabilities to the limit since usps does not populate as much info as DHL.

[2021-01-07 22:53] superdav42 opened #2298 "Unable to connect a carrier account if site is installed in sub directory"
This code at https://github.com/Automattic/woocommerce-services/blob/master/client/extensions/woocommerce/woocommerce-services/views/carrier-accounts/list-item.js#L105:
[code]
will not work if WordPress is installed in a subdirectory like `http://localhost/wordpress/wp-admin/admin.php` clicking the link would go to `http://localhost/wp-admin/admin.php?page=wc-settings&tab=shipping&section=woocomme

[2021-01-11 02:53] asuh commented on #1650
I want to document this here from additional conversations and research, for others to reference if they find this thread.

[In the SCAN API documentation](https://www.usps.com/business/web-tools-apis/scan-api.htm#_Toc44319308), it says that the individual labels that are printed need to be marked as holding for manifest - HoldForManifest=”Y”.

Using the WooCommerce shipping plugin for shipping la

[2021-01-12 18:46] creativeanalyticsdc commented on #2297
Can I second this and specifically request that Order Numbers be potentially dynamically populated on USPS shipping labels?

[2021-01-13 23:27] c-shultz commented on #2285
I'm prioritizing this now since we're further investing in a live rates offering, so we should look to make sure we're reducing our request rate where possible.

I'm anticipating this is less than a week of effort, but if it starts to look larger, let's discuss to make sure it's still worth the investment.

[2021-01-14 19:38] apenasjoao commented on #2272
Received a report from it over HC-22596070. they were using Safari/Mac OS X. I recommended Chrome as a workaround.

[2021-01-15 12:07] Ferdev commented on #1576
I've been investigating this issue and I'd like to shed more light on the root of the problem.

The problem comes because, as part of the taxes calculation process, whenever there's a problem with the zip code we add an `error` notice. Adding error notices during checkout load time, makes WooCommerce to display an special template that shows cart errors, and stops loading the rest of the checkout

[2021-01-15 20:13] c-shultz commented on #1576
@Ferdev, I'm trying to remember the different ideas we discussed. Could another fix for this be for WooCommerce Core to display errors differently, so a notice is shown instead of a whole new template/screen?

[2021-01-15 21:00] frosso commented on #2285
I believe I have a solution in https://github.com/Automattic/woocommerce-services/pull/2301 - spending some additional time to investigate if the number of requests can be limited even further

[2021-01-18 01:09] asuh opened #2302 "Adding USPS label API request to woocommerce server?"
After some reading, I think this issue belongs in the [private connect server repo](https://github.com/Automattic/woocommerce-connect-server/) that doesn't appear open to the public.

Is there any documentation about what's happening on the server api.woocommerce.com? I want to see if there was a way to add a new request to the API called `HoldForManifest`, which is available in USPS APIs to allow

[2021-01-18 12:23] Ferdev commented on #1576
I think WooCommerce Core added that functionality on purpose, because they don't want to show errors on page load, but I'm gonna check that with Proton and will come back with an update :+1:

[2021-01-18 13:12] Ferdev commented on #1576
Just checked and yeah, that functionality has been in WooCommerce Core for at least 8 years:

https://github.com/woocommerce/woocommerce/blob/bfcb3ec1e9569d32b9653f83485632a6d4040086/shortcodes/shortcode-checkout.php#L54-L57

They show that page if there's an error notice *and* the page has no $POST data. I think it makes sense, and it's actually a problem in the implementation of the TaxJar php c

[2021-01-18 14:29] Ferdev commented on #2302
Hey @asuh!

Thanks for the bug report! Could you please elaborate on what you would like to be able to achieve? If you could detail the full use case, that would be awesome.

[2021-01-18 15:31] zwiesman31 commented on #2226
3653299-zen

[2021-01-18 17:08] c-shultz commented on #2302
@asuh,

We have SCAN support [on the ideas board](https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/37802947-usps-shipment-confirmation-acceptance-notice-scan). We take these ideas and the votes into account when making decisions about the product road map.

You are correct about this requiring modifications to api.woocommerce.com (along with UI enhancements in the plugin to util

[2021-01-18 17:08] #2302 closed

[2021-01-18 17:11] c-shultz commented on #1650
@asuh,

I can confirm that the WooCommerce API would need to be enhanced to add support for this feature, so the changes would not be limited to the public repo.

[2021-01-18 19:04] asuh commented on #2302
Okay, thanks for the confirmation. This is why I was approaching this request differently, just asking for a small API change. Without it, I can't even look to getting a third-party plugin built to extend WooCommerce Services without going around the api.woocommerce.com to use the SCAN API.

As you can see in that idea board thread, there's multiple people who are desperate to get this implemented

[2021-01-18 20:58] frosso commented on #2285
Timeboxed it a bit - no luck in reducing further without major changes :(
The PR can be reviewed, tho.

[2021-01-18 22:22] chvillanuevap commented on #1650
It would be great if you guys could look more into enhancing the API. The USPS is swamped right now. I have personally been asked by several USPS employees to provide them with a SCAN form to speed things up for them. It saves them a lot of time to just scan a single form vs 10, 50, or 100 packages.

[2021-01-18 22:28] asuh commented on #1650
@chvillanuevap 's experience mirrors ours, where USPS has threatened multiple times to not take large quantities of packages because of the time it takes to scan each package. This highlights a real need of small businesses who could be shut out on days with lots of orders.

[2021-01-18 23:19] chvillanuevap commented on #1650
@asuh For sure! I have to drive an extra 20 minutes every day to drop my packages at a USPS post office that has a Bulk Mailing Acceptance department because my local post office two blocks away won't accept my packages anymore without a SCAN form. And last week, even this bulk mailing department asked me for a SCAN form because they are just that swamped.

USPS is so busy right now that they are

[2021-01-20 14:45] #2285 closed

[2021-01-20 16:19] harriswong opened #2305 "Temporarily disable E2E tests blocks pipeline due to errors"
Summary
The E2E tests are failing and are blocking our pipelines. These tests are not being helpful at the moment until we fix them. Temporarily disable them in `.travis.yml` until the tests are fixed, or until we moved over to the [new E2E setup](https://github.com/Automattic/woocommerce-services/issues/2055).

[2021-01-25 19:16] RWSyk commented on #1654
Why is this still an outstanding issue? Has everyone just stopped selling to Quebec?! Otherwise this should have been fixed a long time ago.

[2021-01-27 16:12] #1576 closed

[2021-01-28 04:58] briancwelch commented on #1505
Pardon the latency of my own reply.  All seems fine on my end.

[2021-01-28 10:52] fylgjur opened #2311 "Activating Automated taxes wipes a previously entered standard rates table"
Experienced in 3667607-zen

## To reproduce:

* Have automated rates disabled
* Enter some rates into the standard rates table
* Enable automated rates
* Return to standard table - it is empty.

## Why this is a problem

* Customers who need to override certain automated rates may, before activation, create a standard rates table which is then wiped - there's currently no guidance or warning that

[2021-01-28 10:57] fylgjur commented on #1253
A report in 3667607-zen with this calculation 5%/12% relating to BC. It is surprising there haven't been more reports since 2017.

They also raised the exemption in Canada for vitamin supplements which automated tax wasn't taking into account. Doc they shared is attached:

![Screenshot_20210125-205821_Drive](https://user-images.githubusercontent.com/65490337/106128702-81a42780-6157-11eb-8a8e-e33b5

[2021-01-28 18:55] worldomonation opened #2312 "Site name is illegible on sidebar when viewing Products"
### Steps to reproduce the behavior

1. Set up an eCommerce site.
2. On `wp-calypso` sidebar, click on Products.
3. Once WooCommerce plugin UI loads, visually inspect the sidebar.

#### What I expected to happen
Site name is legible.

#### What actually happened
Site name is white against an off-white background, rendering the text illegible.
text color: rgb(255, 255 ,255)
background color: rgb(44

[2021-01-28 21:13] DustinHartzler commented on #2311
Removed the Enhancement tag, since I think it's a bug. At least a warning or something needs to be added as a short term fix to let the store owner know that their table is about to be wiped out.

[2021-01-28 21:39] #1505 closed

[2021-01-29 15:22] tammullen opened #2313 "[GlobalStep] 404 error when clicking WooCommerce Shipping in WooCommerce-> Settings->Shipping"
Hi, raising this on behalf of @gglobalstep. Original Issue here https://github.com/woocommerce/woocommerce/issues/28971

## Bug Description:
"404 Not Found" error is thrown upon clicking "WooCommerce Shipping" option under WooCommerce-> Settings->Shipping page.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version

[2021-01-29 21:53] c-shultz commented on #2313
Thanks for the report and details! I'm getting this prioritized for the team.

[2021-02-03 20:46] #2313 closed

[2021-02-03 21:08] #2298 closed

[2021-02-04 20:45] apmwebdev commented on #1226
Another instance of this in 3710147-zen.

To clarify, this issue is not isolated to states that charge taxes for the items themselves but not for shipping.

It is a problem in any state, because if a product is marked as not taxable, the shipping for that product will still be taxed regardless. Because of this, it is not possible to have a physical product that is not taxed at some level unless th

[2021-02-05 14:34] #2279 closed

[2021-02-05 16:29] frosso opened #2321 "Radio button display issue on Rates step"
## Description
With https://github.com/Automattic/woocommerce-services/issues/2279 we fixed an issue where the radio button was not displayed correctly.
This fix seems to be working well until `WC@5.0.0-beta.1`. Starting from `WC@5.0.0-beta.2`, a similar issue happens again.

Radio button displayed until `WC@5.0.0-beta.1`:
![Screen Shot 2021-02-05 at 10 17 42 AM](https://user-images.githubusercont

[2021-02-08 19:16] harriswong commented on #1852
The space issue is related to [this](https://github.com/woocommerce/woocommerce/pull/25509#discussion_r372333496).

[2021-02-08 19:27] harriswong commented on #1852
Hi @yukikatayama, I believe [this is patched in 1.23.0](https://github.com/Automattic/woocommerce-services/issues/1600#issuecomment-586374077). The fix is [described here](https://github.com/woocommerce/woocommerce/pull/25509#issuecomment-581513178), and the change is [here](https://github.com/Automattic/woocommerce-services/pull/1899/files).

I ran a quick test locally to verify; as well testing

[2021-02-08 19:27] #1852 closed

[2021-02-08 20:07] #1797 closed

[2021-02-08 23:15] harriswong commented on #1867
Hi @phillipcornwell, thanks for the screenshots and the logs, they are helpful!

I tried reproducing with the same data you have and I now get the following:
![image](https://user-images.githubusercontent.com/572862/107293098-3ed03280-6a28-11eb-9f9e-240cdbe3a14b.png)

I am wondering if this was a problem with our tax provider (TaxJar) before? The API response we get back seems to be correct. It se

[2021-02-08 23:17] harriswong commented on #1867
Tax is calculated by a third party vendor, we don't have control over the rates' correctness. We store the tax rate API responses in our "standard rate" table. Since the rate seems to be correct now, I am closing this issue. Please feel free to re-open it if it is still an issue.

[2021-02-08 23:17] #1867 closed

[2021-02-09 00:00] superdav42 commented on #2321
I don't see the Radio button display issue on RC2 or RC3.

[2021-02-09 15:03] seb86 commented on #2292
Any updates would be appreciated. Thank you.

[2021-02-10 00:36] #2305 closed

[2021-02-10 20:21] katinthehatsite commented on #2247
@c-shultz We have one more customer who seems to have a very similar issue but processing orders through REST API with both WooCommerce Services and AvaTax enabled. This is the error that they are getting:

`2021-02-09T19:11:03+00:00 CRITICAL Uncaught Error: Call to a member function get() on null in /srv/htdocs/wp-content/plugins/woocommerce-services/classes/class-wc-connect-taxjar-integration.ph

[2021-02-11 19:09] c-shultz commented on #2247
@katinthehatsite ,

It could definitely be a similar or related issue. I would suggest they deactivate Avatax or deactivated automated taxes (which is powered by WooCommerce Tax). We can't make any guarantee about these two plugins being compatible, since they are both implementing automated tax functionality.

[2021-02-16 21:14] billrobbins commented on #2272
Another report in 27288222-hc

[2021-02-18 17:18] brezocordero opened #2327 "Logo for subscriptions product"
When we display the usage of a shipping subscription on WooCommerce Settings Screen, we display a logo next to the subscription name.

[Our original design](https://github.com/Automattic/woocommerce-services/issues/2257) assumed one subscription product per carrier. The product would use the logo of the carrier.

![subscriptionsCarrierIcon](https://user-images.githubusercontent.com/8002881/1083946

[2021-02-18 21:32] harriswong opened #2328 "Migrate travis-ci to GitHub Actions"
### Description
We had some issues with our E2E tests and travis' availability (https://github.com/Automattic/woocommerce-services/issues/2305). Take this as an opportunity to explore migration to GitHub Actions.

### Requirements
- Support PHP 7+  (8 is blocked by https://github.com/Automattic/woocommerce-services/issues/2258)

### Output
- ~~Can we create a pipeline in similar fashion? Run tests

[2021-02-20 00:03] c-shultz opened #2333 "Remove dependency on Calypso Repository Git Sub-module"
(todo) 😄

[2021-02-22 14:52] frosso opened #2335 "fix: focus is stolen from checkout input fields on error"
## Description

See discussion here: https://github.com/Automattic/woocommerce-services/pull/2310#issuecomment-780554304

The Tax integration can display error messages at checkout. e.g.: on invalid zip.
When an error is rendered, the focus is stolen from the active input.

This is troublesome if the user at checkout is not using the browser's autocomplete or is not fast enough to edit the problem

[2021-02-23 17:34] c-shultz commented on #2296
I'm bumping to critical since it's blocking a user from signing up as seen in the other bug report

[2021-02-24 15:07] fylgjur commented on #2256
A user in 3767595-zen is reporting quality issues with a Zebra ZP 450 4x6 label printer, printing our USPS labels.
They say ShipStation labels print perfectly. They have no issues on an Epson, but using it wastes label stock so they wish to use the 4x6 printer:

Here is their Epson:

![https://d.pr/i/PirgJa](https://d.pr/i/PirgJa+)
Full Size: https://d.pr/i/PirgJa

and here is the result with thei

[2021-02-24 16:53] #2296 closed

[2021-02-25 01:14] harriswong commented on #2328
### Update
- Following the same way we run our pipeline in [Travis](https://github.com/Automattic/woocommerce-services/blob/develop/.travis.yml), the current [PR](https://github.com/Automattic/woocommerce-services/pull/2329/files) will download WC `5.0.0`, WP `5.6.2`. Install and setup DB.
- This PR can run both JS unit tests, lints.

### TODO
When running phpunit via `./vendor/bin/phpunit -c phpu

[2021-02-26 19:34] aheckler commented on #1312
3753842-zen

[2021-03-02 05:02] brezocordero commented on #1871
I have opened a separate issue because the changes to fix the rate need to be done on the server.

We need to modify the request we send to USPS for Custom domestic large packages, in order to get the correct rate.

Right now, with the data we are sending to USPS, the custom package in this issue is being identified as Regular instead of Large.

The rate when purchasing the label is the correct ra

[2021-03-02 23:35] harriswong commented on #2328
### Next step
- Get this to work under PHP 7.4
- Test WP and WC over a matrix

[2021-03-03 00:04] harriswong opened #2349 "Extra bracket on line 846 for class-wc-rest-connect-service-data-refresh-controller.php import"
Affecting branch: `develop`

Error:
[code]

[2021-03-03 16:20] #2349 closed

[2021-03-04 22:48] harriswong opened #2352 "Add phpcs linting to pre-commit hook"
Auto fix all phpcs linting errors during commits.

[2021-03-05 14:46] frosso opened #2355 "fix: WCS&T Status Page missing from new WooCommerce navigation"
## Description

When the new WooCommerce navigation is enabled, the WooCommerce Shipping & Tax Status Page is not visible through any of the menus.
The Status Page (previously displayed as a "tab") is added through the `woocommerce_admin_status_tabs` filter. But this filter is no longer fired.

Marked as High Priority because it allows people to debug the application.

Before:
![Markup 2021-03-04

[2021-03-05 14:54] frosso commented on #2355
I investigated this for a bit. Currently there's no way for us to add the item. Some internal discussion on Slack: CBKK5KM41/p1614900396242600

WC Admin needs to implement this first: https://github.com/woocommerce/woocommerce-admin/pull/6525
We will also need to adjust the lifecycle of [`load_admin_dependencies`](https://github.com/Automattic/woocommerce-services/blob/develop/woocommerce-services

[2021-03-05 20:20] #2352 closed

[2021-03-05 21:14] harriswong commented on #2082
Also update `.github/workflows/js_tests.yml` to use the same node version.

[2021-03-05 21:17] #2328 closed

[2021-03-08 19:46] melek opened #2360 "Printing labels sometimes fails with "Error ... returned HTTP code: 0""
**The issue**
A user is intermittently getting 'HTTP 0' errors when creating labels (28267948-hc → 3803849-zen)

These are the two errors the user sees:
- Error: The WooCommerce Shipping & Tax server returned HTTP code: 0
- Failed to retrieve shipping label refund status: Error: The WooCommerce Shipping & Tax server returned HTTP code: 0

User tried conflict testing with Health Check, the error re

[2021-03-08 20:14] aheckler commented on #2360
3790710-zen is this as well. @Ferdev they are on WC 5.0.0 and WC Shipping + Tax 1.25.8.

There is another ticket (3765612-zen) that had this issue as well, but it was solved by conflict testing, so I'm going to have 3790710-zen conflict test too.

[2021-03-08 20:45] #2082 closed

[2021-03-09 00:08] harriswong commented on #2131
https://github.com/Automattic/woocommerce-services/pull/2329 has updated this repo to use GitHub Actions. We are now testing against WP latest minus 2 and WC latest minus 2. Closing.

[2021-03-09 00:08] #2131 closed

[2021-03-09 14:08] frosso opened #2362 "fix: error messaging appears after add to cart"
## Description

It looks like the error messaging introduced in earlier PRs appears immediately after adding a product to the cart.
![Markup 2021-03-09 at 08 05 12](https://user-images.githubusercontent.com/273592/110482587-70333100-80ae-11eb-9330-3fde75ebcb6e.png)

## Steps to reproduce
- Go to your site
- You can have shipping debug on/off, doesn't matter
- Make sure your cache is clear - as if

[2021-03-09 18:13] harriswong opened #2364 "Automate GitHub Actions to use the latest WooCommerce versions to test"
### Description
Our [support policy](https://github.com/Automattic/woocommerce-services/issues/2131) for WooCommerce Services & Tax is latest WordPress/WooCommerce minus 2 versions.

Currently, we [hardcoded](https://github.com/Automattic/woocommerce-services/blob/68fd8318635db34524f8d242231ad04a836d5b7d/.github/workflows/php_tests.yml#L37-L38
) the following versions:
[code]

### Output
This shou

[2021-03-09 18:17] harriswong opened #2365 "Support different versions of PHP in GitHub Actions"
### Descriptions
We are testing [PHP 7.4 only](https://github.com/Automattic/woocommerce-services/blob/68fd8318635db34524f8d242231ad04a836d5b7d/.github/workflows/php_tests.yml#L46-L48) in the repository. Maybe we should update this so that we can test multiple PHP versions?

### Output
1. Figure out which PHP versions we need to cover
2. Update matrix to test multiple PHP versions

### Notes
1. Do

[2021-03-09 19:00] superdav42 commented on #2365
In the readme [we say we support 5.3+](https://github.com/Automattic/woocommerce-services/blob/develop/readme.txt#L5)
As of WooCommerce 3.9 [its minimum requirement is 7.0](https://docs.woocommerce.com/document/update-php-wordpress/).
I would suggest we start testing PHP 5.6-7.4 now. Testing all the way back to 5.3 would probably increase the pipeline too much.

In the future we can consider updat

[2021-03-09 19:09] harriswong commented on #2364
Here is an idea to grab the latest WC releases based on their release tags:

#### latest_version.php
[code]

#### example usage
[code]

[2021-03-09 19:13] harriswong commented on #2365
If we are supporting WooCommerce latest -2, then the minimum WooCommerce we support would be 4.8.2 (https://github.com/woocommerce/woocommerce/releases). In this case, would PHP version be at least 7.0?

[2021-03-09 21:58] frosso commented on #2272
Another report on https://wordpress.org/support/topic/blank-label-when-printing/

[2021-03-09 23:20] johndcoy commented on #2360
Another report of this 3779293-zen

[2021-03-10 09:19] gglobalstep commented on #2313
We are still able to reproduce this issue on WooCommerce 5.1. Please refer to the ScreenShot.
[
![#2313](https://user-images.githubusercontent.com/41110392/110606012-c1771980-81af-11eb-95b2-3702c866f0f2.png)
](url)

[2021-03-10 11:21] Ferdev opened #2367 "Mark order as complete doesn't work in Firefox if the label is not printed"
In Firefox, when you purchase a label and check "Mark this order as complete and notify the customer", if you don't click on the "Print" button and instead just close the modal, the order is not marked as completed.

I think the problem is that the order is not marked as completed when the label is purchased, but when it's printed. It should mark the order as complete right after the purchase has

[2021-03-10 16:37] superdav42 commented on #2362
Even with #2366 I don't think this issue is fully fixed.
Even when on the cart page you will see the error notice before you enter any address.
![image](https://user-images.githubusercontent.com/1534605/110660527-e2744600-8180-11eb-98ce-c0432cdbf82b.png)

I have it 3 times because I have 3 different WCS shipping methods enabled.

It's worth noting that there is an option in WooCommerce->Settings->

[2021-03-10 19:25] melindahelt commented on #2362
@frosso - FYI your questions were answered at https://wordpress.org/support/topic/recent-update-causes-error-messages/#post-14157104. I'm going to leave that thread open for now should you have any other questions.

[2021-03-10 19:44] c-shultz commented on #2362
@superdav42 , should we reconsider the approach on this and not show the notice on top of the cart page?

I feel a little concerned about unintended effects of forcing that option (though I do see your point about it).

/cc @bborman22

[2021-03-10 21:26] tijosh commented on #2360
@c-shultz all the sites reporting this problem so far share the same host (GD). Is this possibly an IP blocking issue?

[2021-03-10 23:59] WillBrubaker opened #2371 "Refunded line items present in package selection"
Reported in 3807410-zen

When an order contains refunded items, the items are still displayed in the "items to fulfill" table of the label purchase interface e.g.:
![see screen shot](https://d.pr/i/fcks2C+)
https://d.pr/i/fcks2C

Is this expected behavior?

[2021-03-11 00:09] artypineda commented on #2371
Thank you for this. I have been attempting to refund the client and print a new shipping label. However as you can see, this populates still at the "items to fulfill" level. Please let me if this gets resolved as this may or may account for weight. -Art.

[2021-03-11 14:10] waclawjacek commented on #2367
If this behavior is changed, it will affect the solution implemented in #2300.

[2021-03-11 16:41] kevinvess commented on #2362
Hello– I'm the OP on the [wordpress.org support forum](https://wordpress.org/support/topic/recent-update-causes-error-messages/#post-14168260).

@superdav42

We are using the [Local Pickup Plus](https://woocommerce.com/products/local-pickup-plus/) plugin to offer local pickup as a shipping option. I can’t enable the “_Hide shipping costs until an address is entered_” option. We have to disable it

[2021-03-11 18:25] bborman22 commented on #1891
It seems that this issue has been addressed by TaxJar and the proper rates were returned in my testing. I've included some screenshots of most of the countries mentioned just to confirm. This was with a store located in the UK and shipping to the countries selected during checkout. I will close this ticket for now as it seems to have been an issue on the TaxJar side that is resolved, but we can re

[2021-03-11 20:44] efixler commented on #2022
So what should the copy here be for non-US stores?

[2021-03-11 22:09] c-shultz commented on #2360
@tijosh

I don't see any reason to expect an IP blocking issue on our end. We have made specific requests in the past to block certain IPs that were hammering our server, but I don't see any history of that for any of these sites. The `cURL error 28` is indicating a communication problem between their site and our server (`api.woocommerce.com`). This could be happening if our server wasn't respond

[2021-03-11 22:33] efixler commented on #2197
I've dropped priority on this issue.

EasyPost will determine lanes for which fraud is likely. TBH, we should we doing the same; account takeover + stolen cards used to purchase international labels to specific countries is a known problem in the space.

The most important behavior here is that we don't provide labels to countries tagged as fraud-likely or forbidden by our upstream providers or ca

[2021-03-12 23:44] superdav42 commented on #2362
I see two options for fixing this problem.

Option 1:
Remove all shipping validation cart notices from the code. We can still keep the improved error message which overrides the "No shipping rates..." message.

Option 2:
Keep the cart notices but only show them in the right context.
So the conditions in which the cart notices are show would be:

- "Hide shipping costs until an address is entered"

[2021-03-13 00:50] asuh commented on #1650
I'm updating so admins can see that on the Ideas board for this plugin, the 2nd and 3rd most voted ideas are both for this idea and bulk printing in general.
~~https://ideas.woocommerce.com/forums/133476-woocommerce?category_id=167367~~
~~https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/37802947-usps-shipment-confirmation-acceptance-notice-scan~~

I don't know what threshold is

[2021-03-13 20:44] helgatheviking opened #2376 "Inconsistent shipping rates between staging and live"
I have a Mix and Match Products support ticket that I think it crossing over into a shipping issue. Original discussion:
https://a8c.slack.com/archives/C07414X4N/p1615651978306700

So Mix and Match allows a customer to pick X number of items to form a box/bundle.

I have 2 shipping modes:
1. per-item shipping- every item is treated just like a regular line item in the cart
2. or _not_ - effectivel

[2021-03-15 13:52] bborman22 commented on #2376
That is odd to be getting those different results! One thing that might be helpful to check is the shipping debug information: https://docs.woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-shipping/#section-11

With the debug turned on, the cart will display information about box packing and which rates were retrieved. By comparing the live site and staging site with debug on, it

[2021-03-15 14:39] helgatheviking commented on #2376
hi @bborman22 does the debug info show for every user or admins only? Can you turn it on for the live site without every visitor seeing it? That's the thing that's held me back from turning it on already.

[2021-03-15 15:09] bborman22 commented on #2376
Yes, unfortunately it would display publicly. It should be possible to turn it on, test the cart shipping calculation, then turn it off. It's definitely not ideal, but minimizes exposure while still getting us the information we need as long as the cart page doesn't get refreshed after getting the debug information displayed.

[2021-03-15 16:02] helgatheviking commented on #2376
As a suggestion... maybe it should only show for store managers and admins?

Here's the result from the staging site. First, for the bundle... which is now showing a different price than it did when I made the above screenshots!

![image](https://user-images.githubusercontent.com/507025/111179430-b1758600-8571-11eb-9490-65bf532df809.png)

But the package rate debug info tells me it's shipping the

[2021-03-15 17:04] harriswong opened #2377 "Enforce phpcs linting rules before commit"
### Summary
Enforce our phpcs guideline https://github.com/Automattic/woocommerce-services/blob/develop/phpcs.xml.dist on any new changes going forward.

### Output
- Update pre-commit git hook to run phpcs
- Add phpcs linting as a new action to GitHub Action

### Impact
It will require us to fix all phpcs warning/errors on the entire file as long as it is modified.

[2021-03-15 17:06] harriswong commented on #2377
We can add this to our githook `git diff --name-only --diff-filter=ACMR develop.. | xargs ./vendor/bin/phpcs`

This will work on all PR merging into `develop` only.

[2021-03-15 19:57] c-shultz commented on #2333
Let's discuss this at the team meeting, but I'm tentatively thinking we should pause on merging this to `develop`. It would be a risky time to deploy this major of an update.

[2021-03-16 09:26] Ferdev opened #2380 "Rendering problem with label purchase modal checkboxes"
The `checked` state in the label purchase modal checkboxes is not aligned with the checkbox borders:

https://dl.dropboxusercontent.com/s/dvzq1sqdwy8cumm/shot-2021-03-15-13-58-45.png

[2021-03-16 09:55] Ferdev opened #2381 "Unexpected PHP notice in carrier registration form"
One of our recent fixes has introduced an error in our PHP code:

https://dl.dropboxusercontent.com/s/j4ltfpdk3ga3tdm/shot-2021-03-15-14-44-50.png

In order to reproduce it, just try to register a new carrier from the WooCommerce Shipping & Tax settings page.

[2021-03-16 13:13] frosso commented on #2380
Looks like we have a duplicate :) https://github.com/Automattic/woocommerce-services/issues/2321

[2021-03-16 13:25] bborman22 commented on #2376
The two products issue could definitely be the difference. Thanks so much for digging into that to confirm!

[2021-03-16 13:30] tijosh commented on #2371
3813536-zen

[2021-03-16 16:40] harriswong opened #2383 "Automate GitHub Actions to use the latest WordPress versions to test"
### Description
Our [support policy](https://github.com/Automattic/woocommerce-services/issues/2131) for WooCommerce Services & Tax is latest WordPress/WooCommerce minus 2 versions.

Currently, we [hardcoded](https://github.com/Automattic/woocommerce-services/blob/68fd8318635db34524f8d242231ad04a836d5b7d/.github/workflows/php_tests.yml#L37-L38
) the following versions:
[code]

### Output
This shou

[2021-03-16 18:29] #2381 closed

[2021-03-16 18:47] Ferdev commented on #2380
Sorry @frosso , I wasn't aware of that issue when I created this one. I'll close both issues :+1:

[2021-03-16 18:52] #2380 closed

[2021-03-16 18:52] #2321 closed

[2021-03-16 18:58] ldr2273 commented on #2311
I've been able to reproduce this as well, and I suspect that could be playing a factor in 3819973-zen.

[2021-03-16 19:03] frosso commented on #2380
No need to be sorry :D Sounds great! Thanks for working on fixing that!

[2021-03-17 05:08] AashikP commented on #2360
Thank you, @c-shultz. I'm currently checking with them if updating their PHP version and cURL versions makes a difference.

[2021-03-17 20:55] #2364 closed

[2021-03-18 04:41] Sultan91 commented on #1625
Hello, do you know if easypost support auto-translation (transliteration) from non-roman to latin alphabet as it was mentioned in their [blog](https://www.easypost.com/blog/2013-05-20-foreign-language-support)?

[2021-03-18 19:18] #2355 closed

[2021-03-23 17:08] harriswong opened #2395 "Run GitHub Actions on pull requests from fork"
### Summary
When a pull request is made from a forked repo, GitHub Actions don't run.

### Problem
We should use the `pull_request` https://docs.github.com/en/actions/reference/events-that-trigger-workflows#pull_request event. We are using `push` https://docs.github.com/en/actions/reference/events-that-trigger-workflows#push because we want to make sure every new commit made in the PR is running t

[2021-03-24 19:33] #2395 closed

[2021-03-26 13:12] waclawjacek opened #2400 ""DHL live rates available" notice causes fatal error when WC Admin is disabled"
## Description

This was first reported in p1616690071123300-slack-C7U3Y3VMY mentioning a report in 3853620-zd-woothemes.

It seems that on sites where WC Admin is disabled, wp-admin becomes inaccessible due to an error caused by the "DHL live rates available" notice:

[code]

To be able to use wp-admin again, a site admin has to deactivate WCS&T or enable WC Admin.

## How to reproduce

WC Admin

[2021-03-26 21:10] #2055 closed

[2021-03-27 12:41] calvincani opened #2401 "Syntax error"
We get a syntax error on our wordpress site and it lists a woocommerce-services file as the problem. This happened after an update
``
Parse error: syntax error, unexpected ':', expecting ';' or '{' in /users/trc-foundation.org/htdocs/fillingthegap/wp-content/plugins/woocommerce-services/classes/class-wc-connect-shipping-label.php on line 323
``

[2021-03-28 09:30] grig-23 commented on #1253
Also reported here:

https://wordpress.org/support/topic/strange-behaviour-in-automatic-tax-plugin/#post-14236998

[2021-03-28 15:42] songdove commented on #1253
Adding another voice to have this fixed.  I won't recreate the problem to take screenshots, but in my display using the automated tax plugin, country and province were spelled out as well, which didn't make sense with the manual instructions to only use 2char codes.  I guess this plugin must not see many Canadian users, but I had to disable it to set up my taxes manually.  Bookkeepers and accounta

[2021-03-29 22:50] phillipcornwell commented on #2400
Also reported in 22743360-hc

We found that rolling back to 1.25.8 fixes the error.

[2021-03-30 08:49] fylgjur commented on #2400
Reported in forums: https://wordpress.org/support/topic/fatal-error-3831/

[2021-03-30 12:11] waclawjacek opened #2403 "Incompatibility with WC 3.0.0 despite "WC requires at least" header"
Version `1.25.10` of WCS&T is marked as compatible with WooCommerce ≥ 3.0.0: `WC requires at least: 3.0.0`.

In the `WC_Connect_TaxJar_Integration` class, WCS&T is using the `WC_Countries::get_base_address()` method that was introduced in WC `3.1.1` though:

[code]

This results in a fatal error when trying to use the plugin with WC 3.0.0:

`Fatal error: Uncaught Error: Call to undefined method WC

[2021-03-31 00:12] #2400 closed

[2021-03-31 18:43] superdav42 commented on #2362
Fixed in 1.25.10

[2021-03-31 18:43] #2362 closed

[2021-03-31 20:45] harriswong commented on #1253
Related to TaxJar's plugin: https://github.com/taxjar/taxjar-woocommerce-plugin/issues/49

[2021-03-31 21:32] harriswong commented on #1253
We emailed TaxJar on Mar 11 regarding a similar issue for shipping from Ontario to Saskatchewan where it should be charged GST only. The summary of the response from them is that they are working on a fix and it will take some time to roll out.

What we could do on WCS is we can implement these tax logic ourselves but that defeated the purpose to rely on a TaxJar as the trusted single source of tr

[2021-04-02 09:40] waclawjacek opened #2407 "Use `WC()->is_wc_admin_active()` to check for WC Admin note support"
When trying to display the "DHL Express live rates are now available" note, WCS&T currently checks if the following will throw an exception:

[code]

(For some context, the problem originally stems from the fact that WC Admin can be available as a plugin but can have its functionality disabled using a filter, in which case the `admin-note` data store does not exist).

While this currently does the

[2021-04-02 12:55] billrobbins commented on #1891
I ran into another instance of this.  The customer's store is in Finland and they noticed that when shipping to Germany, the returned rate is 24%.  Germany's VAT rate is 19% but Finland's is 24%.

Whatever I change the store's nexus location to, that's the rate that is returned instead of the customer's shipping location.

France's VAT is 20%
![France](https://cdn-std.droplr.net/files/acc_705319/k

[2021-04-06 20:58] martindubenet commented on #1654
Again, why is this issue still pending !? Please fix it and/or update the status of this important issue for non geek online retailers

[2021-04-08 09:45] igotdes commented on #2247
This looks to be the same issue in #3885461-zen. I've followed the suggestion above and asked the user to choose between AvaTax and WooCommerce Tax.

[2021-04-08 13:42] #2401 closed

[2021-04-08 20:55] zhollenbeak commented on #2226
Another in 3892911-zen

[2021-04-10 02:30] FangedParakeet opened #2409 "Unnecessary track_completed_order errors"
Noticed this issue after a user mentioned this error occurring frequently [here](https://wordpress.org/support/topic/error-track_completed_order/). The user noticed the following error occurring frequently in the logs for their site.

[code]

The error looks scary and suggests that something is not working correctly. What is actually happening is that the client-side subscription handler for check

[2021-04-12 16:02] johndcoy commented on #2039
Another request for this 3704043-zen

[2021-04-13 18:57] FangedParakeet commented on #1891
I recently tried to replicate this, but did not manage to do so reliably. Ultimately, I was only able to replicate the results that @bborman22 exhibited a little further above. I can confirm that there is definitely no longer any issue with TaxJar, as the response from TaxJar definitely returns with the correct rates, when supplied the correct parameters.

I suspect that there is either some unusu

[2021-04-13 21:11] frosso commented on #1891
@billrobbins thanks for the details!
I also made some tests and I can confirm that the tax rate being charged is consistent with the tax rate of the store's base address:
- [IT > IT - 22%](https://d.pr/i/lleeSn)
- [IT > DE - 22%](https://d.pr/i/RmfDf0)
- [FR > FR - 20%](https://d.pr/i/jPuuHK)
- [FR > DE - 20%](https://d.pr/i/WJTSCN)

I checked the API response from TaxJar and it seems consistent w

[2021-04-14 15:39] #1891 closed

[2021-04-14 16:31] #2409 closed

[2021-04-14 17:51] frosso commented on #1963
Hey @thuautp , thanks for the report!

I took a look and I wasn't able to reproduce the exact scenario. It looks like some of the taxes might have changed.
Now TaxJar is returning the same tax rate regardless of the state/county. So this is what the rates table looks like now:
![Screen Shot 2021-04-14 at 12 36 13 PM](https://user-images.githubusercontent.com/273592/114754280-0564bd80-9d1e-11eb-88a

[2021-04-14 17:51] #1963 closed

[2021-04-15 20:59] zhollenbeak commented on #2226
Another report of this problem in 29040201-zen

[2021-04-16 16:20] yukikatayama commented on #2276
Noting that similar issue is happening with customer in 29053734-hc.

[2021-04-19 22:05] frosso commented on #2007
Created a brand new site, UK-based.

Created an order through the backend, brand new customer, tax is added for `West Yorkshire`: https://d.pr/i/DDtORe
Created another order through the frontend, brand new customers, tax is calculated for `West Yorkshire`: https://d.pr/i/3ENkUa
Cleaned tax rates table.
Created another order through the frontend, brand new customer, tax is calculated for `West York

[2021-04-19 22:05] #2007 closed

[2021-04-20 17:21] frosso commented on #2007
Forgot to mention (and I think it's worth mentioning here - the team already received an email about it): the ticket referred in the description also speaks about how the islands of Guernsey and Jersey have a 0% tax rate.
I inquired TaxJar about these scenarios, to which they replied:

So the plugin will still present the UK tax rate when billing to the islands of Guernsey and Jersey.

[2021-04-20 17:36] frosso opened #2414 "feat: enhance DHL Express live rates"
## Description
DHL Express labels cannot be created for domestic shipments (i.e.: when shipping US > US).
Our plugin adds a DHL Express shipping method, which is available for all shipping zones, including the US.

A merchant could add DHL Express to one of their shipping zones that includes a US territory. And we're good there. The problem arises when the merchant does that, and also adds a "fall

[2021-04-21 15:23] frosso opened #2415 "fix: taxes not calculated for IE when zip code is empty"
## Description

We don’t make an API request to TaxJar if the ZIP code at checkout is empty: https://github.com/Automattic/woocommerce-services/blob/develop/classes/class-wc-connect-taxjar-integration.php#L868 (i.e.: we don’t calculate the taxes if the zip code is empty).

But [Ireland does not require ZIP codes (Eirecode) for most addresses](https://www.citizensinformation.ie/en/consumer/phone_in

[2021-04-21 15:24] frosso commented on #2415
Marked as low priority because it hasn't been an issue so far. Feel free to change.

[2021-04-22 00:21] stickel commented on #2272
Since this seems like a recurring issue, could a potential solution be to at least warn Safari users in the UI somewhere that labels may not print? I know it would have saved me 45 minutes of searching and having to refund 2 labels.

[2021-04-23 10:35] igotdes commented on #2272
This has also been reported in 3928695-zen

[2021-04-23 18:20] #2226 closed

[2021-04-26 13:57] brezocordero commented on #1871
Closing as fixed in the server.

[2021-04-26 13:57] #1871 closed

[2021-04-26 18:57] melek opened #2417 "Cannot delete plugin after being activated without installing & activating WooCommerce."
**Describe the bug**
I cannot delete the WooCommerce Shipping & Tax plugin while WooCommerce is not activated. The problem initially seemed to be related to Jetpack and WooCommerce Shipping and Tax having been active at the same time, but occurs even when only Shipping and Tax is installed and activated.

This bug was highlighted by @jacoblf on the WordPress.org public support forum:
https://wordp

[2021-04-27 14:50] brezocordero commented on #2030
@fhaps
Thanks for the report.
I have opened a new issue on the server to update the preset flat envelopes.

[2021-05-01 04:05] jessLundie commented on #2272
Also reported here: https://wordpress.org/support/topic/cant-print-shipping-labels-from-safari/

Additional details from the user:

When I click purchase and the label pops up to print, it is completely blank (all black). I have to click cancel. Then scroll down to the label tracking and reprint label again and then it pops up, but is now also blank (all white). The reprint in Safari workaround wo

[2021-05-03 16:09] harriswong commented on #2272
Curious if the "Background graphics" checkbox would fix the issue?
![image](https://user-images.githubusercontent.com/572862/116901857-ac3eca00-abf7-11eb-8b96-db793c0edc45.png)

[2021-05-04 04:13] interwebologist opened #2419 "BUG: "Failed to retrieve shipping label refund status: Unexpected server error." on orders with multiple products in single order."
### **BUG**: "Failed to retrieve shipping label refund status: Unexpected server error."

**Plugin Versions**: 1.25.12 & 1.25.11

I have minimal PHP experience, but think I have this tracked down to the version / commit where this has broken.

If the project is short people please ping me with resources to get started and I will jump into fixing this issue myself. Happy to help where I can.

####

[2021-05-04 09:49] Ferdev commented on #2419
Hey @ispeakcomputer , thanks for the super detailed bug report! It's really appreciated.

This indeed looks like a regression and should be fixed as soon as possible. I'm gonna give it critical priority, so it should be taken care of soon.

Thanks again for your help!

[2021-05-05 15:17] bborman22 commented on #2419
Hello @ispeakcomputer, thanks again for the detailed report! I've been looking into this issue a bit more and haven't been able to reproduce this. I can see those label IDs have been successfully purchased, so the error is only happening when trying to retrieve the label status, which should simplify things. As you noted the biggest difference between those versions is in trying to get multiple la

[2021-05-05 23:19] #2417 closed, assigned to frosso

[2021-05-06 14:30] martynmjones opened #2420 ""Create shipping label" button doesn't appear when order meta contains double quote"
Discovered in: 3951688-zen

**Description:**
The "Create shipping label" button isn't displayed when custom order meta contains a double quote.

**Context:**

When there is custom order meta that contains a double quote then the attribute on .wcc-root contains malformed JSON so a [console error is thrown](https://d.pr/i/Tg7YA3) and rather than displaying the "Create Shipping label" button it reads

[2021-05-06 15:55] interwebologist commented on #2419
I will take care of this right this afternoon and report back. Just wanted to give an update to let you know I was working on it.

[2021-05-06 18:42] shaunkuschel opened #2422 "Label does not honor "Address Entered" option, uses "Suggested Address""
When going through the address validation step of the label purchase flow, selecting the "Address Entered" option does not honor/use the address as entered by the customer and instead the "Suggested Address" is used/shown on the shipping label.

**Steps to reproduce:**
1. Place an order with an address that is not formatted exactly as expected (ex: `301 2nd, Austin, TX 78701` instead of `301 W 2nd

[2021-05-06 21:51] stephhjacq commented on #2272
reported in 28676866-hc

@harriswong user reported they did not have the option to show background graphics when printing from Safari

In Firefox, the label was tiny, about 25% of normal size.
Worked for them in Chrome.

[2021-05-06 21:54] harriswong commented on #2272
Thanks! For Safari, they may need to click the "Show Details" button:
![image](https://user-images.githubusercontent.com/572862/117370132-2df65800-ae83-11eb-8124-24f6f37bb858.png)

Then the option should show up on the right:
![image](https://user-images.githubusercontent.com/572862/117370181-44041880-ae83-11eb-9579-c8e055dc10c2.png)

My Safari is 14.1

[2021-05-06 22:00] jessLundie commented on #2272
Also in 29445420-hc. I'm guessing it must be a Safari version thing, but I didn't collect the version number in chat. My user was able to click the "Show Details" button, but then did not have that "Safari" option in that  Details dropdown, so the _Print Backgrounds_ setting wasn't available.

[2021-05-07 05:57] interwebologist commented on #2419
The answers to your questions are as follows:

- When I roll back the version all of the single and multiple label requests success. On the two newest versions single id requests work,but it doesn't work with multiple labels.
- I am not seeing the log triggered and I think because this is actually a Javascript issue. That's my mistake. I have attached a screenshot of a failing endpoint as seen on

[2021-05-07 18:26] stickel commented on #2272
@harriswong @stephhjacq I can confirm in my situation anyway (Safari 14.0.3) there is no option to "print backgrounds" for the shipping label PDF (Show Details is always checked when I print). It is available when trying to print websites, but that's not helpful in this situation as PDFs don't have backgrounds.

[2021-05-10 12:33] Agepeuve commented on #2272
I got another report in 3974730-zen. Switching to Chrome from Safari worked for them too.

[2021-05-10 14:36] bborman22 opened #2423 "Fatal error when viewing an auto draft order"
A merchant had run into an issue when trying to view/edit an order that was just in the auto-draft status. The WCS plugin assumes that an order has been created when viewing and throws a fatal error when trying to access the created date.

**To Reproduce the Error**
- Go to WooCommerce > Orders and click "Add order"
- Add a product to the order
- Click "Reclaculate"
- At this point, copy the order

[2021-05-11 13:44] bborman22 commented on #2419
Thank you again for the details, sorry to ask for one more thing. Within that network tab, on the failed requests, would you be able to provide the contents on the Preview tab? I'm looking to see if there is any message along with the 403 by any chance?

[2021-05-12 07:09] interwebologist commented on #2419
Great idea. Didn't think about any of this.

 Looks like this could be a server misconfigure by looking at this. What do you think?

[Preview Tab Here](https://pasteboard.co/K1vUVcw.png)

[2021-05-12 14:03] #2420 closed, assigned to frosso

[2021-05-12 14:56] bborman22 commented on #2419
That does indeed look like a server level block. I did a quick test on the site and noticed that a comma in the URL causes the 403 response. You could look into any server configurations (or contact the hosting provider about this) or WordPress security plugins that may be performing this block.

[2021-05-12 15:39] superdav42 commented on #2115
[Now the taxjar tool](https://www.taxjar.com/sales-tax-calculator/) is returning the same rate 9.750% regardless if the city Orinda is included or not so it makes it hard to tell for sure what was going on. I'm guessing same tax laws recently changed in the region.

I believe there was not a problem with WCS. I can confirm that WCS send the full address of the seller and the buyer. I believe the o

[2021-05-12 15:39] #2115 closed

[2021-05-12 17:43] interwebologist commented on #2419
Great thanks for the insights. Ill reach out to the hosting.

[2021-05-12 17:43] #2419 closed, assigned to bborman22

[2021-05-12 21:58] superdav42 commented on #2145
I believe there was not a problem with WCS. I can confirm that WCS send the full address of the seller and the buyer. I believe the original dependencies between the taxjar tool and the rates returned from WCS were not really a bug but simply the difference between selling items at a certain locator or selling items in an ecommerce store were some taxes to not apply.
See [this comment](https://git

[2021-05-12 21:58] #2145 closed

[2021-05-12 21:59] superdav42 commented on #2132
I believe there was not a problem with WCS. I can confirm that WCS send the full address of the seller and the buyer. I believe the original dependencies between the taxjar tool and the rates returned from WCS were not really a bug but simply the difference between selling items at a certain locator or selling items in an ecommerce store were some taxes to not apply.
See [this comment](https://git

[2021-05-12 21:59] #2132 closed

[2021-05-12 22:07] superdav42 commented on #2020
@klishb Can you provide more specific details on how to reproduce the problem?

We use the line items in the cart as part of the cache key so if a customer adds/removes an item it will perform a new request for tax rates.

[2021-05-12 23:25] superdav42 commented on #2001
It appears the zipcode 26452-8086 is at least partially in the city limits of Weston. Using the zipcode 26452-8529 WCS does not apply the city tax. For the most accurate results use the full street address. You can use the [taxjar tool](https://www.taxjar.com/sales-tax-calculator/) to easy test many different address. If you still believe the rates to be in error please provide the seller address,

[2021-05-13 00:38] klishb commented on #2020
@superdav42 very interesting to hear that.  I suspected that may have been the cause, but maybe not.  It's been a long time since I looked at this problem, but I just confirmed it's still a bug.  To reproduce this you could:

1. Create the following "additional tax classes" under WooCommerce tax options
Candy - 40010
Food - 40030
2. Create a product in WooCommerce and set it to taxable with a tax

[2021-05-13 00:54] klishb commented on #2020
Also, you will notice that when you put candy in the cart the WooCommerce tax table populated both the Candy and the Standard tax table with your zip code's rates and the option is checked to tax shipping.  If you delete those rows in the tax tables and then go back to refresh the cart with food in it you'll see the API response gets used properly and the shipping does not get taxed.  This is why

[2021-05-18 20:10] sukafia commented on #2272
Another one 3997620-zen

[2021-05-20 09:41] jessy-p opened #2426 "Tax not calculated for Flat Rate Shipping when Default Customer Location is Shop Address"
**Describe the bug**
When the Default Customer location is set to Shop Address, and the customer has not entered any shipping address, tax is not calculated for Flat Rate Shipping.
This is more obvious in stores where both Flat Rate Shipping and Local Pickup is set up because when you switch between the shipping methods on the cart page, the tax is calculated for Local Pickup but displays as 0 for

[2021-05-20 09:45] jessy-p commented on #2426
This is what I believe is happening:

- When Flat Rate Shipping is selected, the shipping address defaults to the state and country of the Store. (but not zip). As the zip is empty, API call is not made and Tax is  shown as 0
- When Local Pickup is selected, the shipping address defaults to the entire address of the store (including zip) so the API call is made and Tax is calculated.

[2021-05-20 19:55] senff commented on #2426
I believe this is expected.  With Automated Taxes, tax is only applied when the shipping address' state is the same as the store address's state, OR if they select Local Pickup:

<img width="1960" alt="local" src="https://user-images.githubusercontent.com/1710669/119042982-89960a80-b986-11eb-9afd-8f9c46080e63.png">

When someone from out of state places an order, they will not be charged tax if th

[2021-05-20 20:58] zhollenbeak commented on #2272
Another one 11989067-hc

[2021-05-21 09:39] jessy-p commented on #2426
Hi @senff

That's true for out-of-state shipping. There is still a minor bug in that, for within state shipping we are showing the initial wrong tax. If the customer adds zip, it gets corrected. Screencast: https://d.pr/i/1iE7Pm

[2021-05-21 10:19] senff commented on #2426
My assumption is that until a customer fills out their state **and** zip code, the address (inc. state) isn't valid yet, and therefore considered "it could be anywhere"?  I personally don't see it as a bug, but I see what you mean.

[2021-05-21 19:44] waclawjacek commented on #2426
There probably could be a warning displayed on the cart and checkout pages instead of the `0` tax rate if tax cannot yet be calculated.

Just in case a decision to implement this is made: there was some work to display nicer shipping-related errors done in #2316 that reminds me of this issue. Error example:

<img src="https://user-images.githubusercontent.com/1759681/119189830-d52ae000-ba7c-11eb-8

[2021-05-22 17:28] zhollenbeak commented on #2272
Another one 4000638-zen

[2021-05-22 23:34] WillBrubaker commented on #2371
4011674-zen

[2021-05-25 23:36] #2020 closed

[2021-05-26 22:41] harriswong commented on #2039
@johndcoy I think this is resolved by this other issue [here](https://github.com/Automattic/woocommerce-services/issues/2226).

[2021-05-26 22:48] harriswong commented on #2039
I can't reproduce this anymore. I followed the description and when I create an order via checkout, I do see 9,.6% tax as follow:
![image](https://user-images.githubusercontent.com/572862/119740873-e0e22200-be41-11eb-8241-5a71708d1025.png)

Inside admin, manually creating an order with the same address, I get 9.6% as well:
![image](https://user-images.githubusercontent.com/572862/119740900-f0fa018

[2021-05-26 22:48] #2039 closed

[2021-05-26 23:04] harriswong commented on #2030
Hi @fhaps, this issues should be fixed now. Please reopen if this continues to be an issue.

[2021-05-26 23:04] #2030 closed

[2021-05-27 01:31] igotdes commented on #2272
Reported in #4016316-zen. Switching to Firefox helped.

[2021-05-27 16:45] stephhjacq commented on #2272
Another report in 4022003-zen

[2021-05-28 19:34] rcharbon commented on #2272
One more confirmation that this bug exists, on two different Macbooks running Big Sur.

[2021-06-01 10:39] stuartduff commented on #2272
I've had another report of this within support ticket 4033764-zen

I also managed to replicate the behaviour on my own test installation.

WordPress v5.7.2
WooCommerce v5.3.0
WooCommerce Services ( Shipping & Tax ) v1.25.13

**Google Chrome Version 91.0.4472.77**

<img width="1160" alt="Screen Shot 2021-06-01 at 11 22 17" src="https://user-images.githubusercontent.com/1190565/120310057-dd311e00-c2

[2021-06-01 21:08] harriswong commented on #2272
It seems like Safari doesn't support native print similar to the issue described [here](https://github.com/Automattic/woocommerce-services/issues/1166). Instead of loading the blob data to the print dialog, falls back to opening it on a new tab.

[2021-06-02 01:16] WillBrubaker opened #2428 "Correct tax not calculated"
I've got a user in 4026754-zen who is selling from BC Canada and shipping to Alberta. Some of their products are grocery items and are not subject to tax, however, the shipping portion is taxed as a service. Since the latest update, their shipping tax is no longer calculating on these items and I suspect that is due to something that was done to fix #2020

As near as I can tell, it had been workin

[2021-06-02 14:54] #2272 closed

[2021-06-03 02:38] WillBrubaker opened #2429 "Incorrect link DHL"
The user in 4035990-zen reports:

[2021-06-04 21:42] c-shultz commented on #1848
Closing since this is not the repo for [WooCommerce Admin](https://github.com/woocommerce/woocommerce-admin)

[2021-06-04 21:42] #1848 closed

[2021-06-09 03:12] bloukingfisher commented on #2276
This issue is still present for DHL international shipments missing a phone number. The error message: "There was a problem purchasing your shipping label. Please try again in a moment." is misleading and not helpful.
Even when enabling the debug/log setting, the log doesn't show the problem either. It is virtually impossible for a user to figure out the problem without at least a better error mes

[2021-06-09 18:39] frosso opened #2430 "Customs info required for DHLExpress international rates"
## Description

Originally reported in p1623260566339800-slack-C7U3Y3VMY

User cannot create shipping labels to Puerto Rico.
I can confirm that I am not seeing the DHL Express rates. I also tried a few DHL Express addresses, this seems to be working:

In my testing, it seems that the error is that DHL Express requires customs info to have rates returned. We are not displaying the customs info form

[2021-06-10 07:00] igotdes commented on #2430
Thanks again for looking into this so quickly, @frosso!

I'll just note the user's ticket here too: #4056793-zen

[2021-06-10 16:09] #2429 closed, assigned to frosso

[2021-06-11 13:52] frosso opened #2433 "Inconsistent account permissions to ship labels"
## Description

Part of the background information can be found in [this forum thread](https://wordpress.org/support/topic/woocommerece-shipping-label-purchase-problem/) and in Slack p1623358576053300-slack-CKNC7KACA

WCS allows merchants with the `manage_woocommerce` permission to create/view shipping labels and create/view packages.
The `manage_woocommerce` permission comes with a bunch of stuff

[2021-06-14 22:01] #2430 closed, assigned to frosso

[2021-06-23 04:35] SirDarcanos commented on #1226
One more report in 21378921-hc

[2021-06-24 12:50] #2433 closed, assigned to frosso

[2021-06-28 18:09] harriswong opened #2435 "Get calypso-cleanup branch to releasable state"
### Description
Merge this branch https://github.com/Automattic/woocommerce-services/issues/2333 into trunk. The state of trunk should not be broken and WCS should continue to work as expected.

If there are issues that blocks https://github.com/Automattic/woocommerce-services/issues/2333 from merging, let's create issue and track them here.

### Fix all these before we release
- [x] Tracking "x"

[2021-06-28 18:10] harriswong commented on #2333
Added https://github.com/Automattic/woocommerce-services/issues/2435 to track issues related to releasing `calypso-cleanup` branch. This issue should remain open since we have not finished all things on step 2.

[2021-06-28 18:29] harriswong opened #2436 "Calypso cleanup: Tracking 'x' icon misalign"
Expected:
![image](https://user-images.githubusercontent.com/572862/123685952-7ccdc780-d80c-11eb-96c7-7f1a0262c576.png)

Actual:
![image](https://user-images.githubusercontent.com/572862/123685996-88b98980-d80c-11eb-9c44-14120da2641f.png)

[2021-06-28 18:59] brezocordero opened #2437 "Failing JS tests for UPS form on branch calypso-cleanup"
Tests are failing for client/extensions/woocommerce/woocommerce-services/views/carrier-accounts/test/ups-settings-form.test.js

Example of failure:

[code]

This is because the IDs on the input form are being autogenerated. The test needs to target `name` instead.

Linked to #2435

[2021-06-28 19:05] brezocordero commented on #2437
Fixed with this commit: https://github.com/Automattic/woocommerce-services/pull/2343/commits/d39785e61bc94b6feb6d48d1f46998e510bc3046

[2021-06-28 19:05] #2437 closed, assigned to nobody

[2021-06-28 22:50] #2436 closed, assigned to harriswong

[2021-06-29 17:35] harriswong commented on #2435
Tested the following:
- Able to purchase a label
- Able to refund a label
- Tracking package modal
- Tested "Live rates at checkout", "Carrier accounts" UI on `wp-admin/admin.php?page=wc-settings&tab=shipping&section=woocommerce-services-settings`. Making sure this still shows up. Also quickly tested DHL live rates, works.
- Tested adding/updating/deleting package
- Clicked around `wp-admin/admin.

[2021-06-29 20:27] tijosh commented on #1620
7024417-hc

[2021-06-29 20:30] #2435 closed, assigned to nobody

[2021-06-30 18:27] c-shultz commented on #1590
This should be addressed by https://github.com/Automattic/woocommerce-services/pull/2008

[2021-06-30 18:27] #1590 closed

[2021-06-30 18:28] c-shultz commented on #1256
Closing this stale issue. We can re-open if this comes back up.

[2021-06-30 18:28] #1256 closed

[2021-06-30 18:33] c-shultz commented on #1850
I can no longer reproduce this issue.

[2021-06-30 18:33] #1850 closed

[2021-06-30 18:33] #1855 closed

[2021-06-30 18:38] c-shultz commented on #2183
This appears to be fixed now by #2181

[2021-06-30 18:38] #2183 closed

[2021-06-30 18:42] c-shultz commented on #2290
Support was added here: https://github.com/Automattic/woocommerce-services/pull/2325

[2021-06-30 18:42] #2290 closed

[2021-06-30 18:43] c-shultz commented on #2292
See note here: https://github.com/Automattic/woocommerce-services/pull/2291

[2021-06-30 18:43] #2292 closed

[2021-06-30 18:44] c-shultz commented on #2312
Closing because Store on WP.com has been discontinued.

[2021-06-30 18:44] #2312 closed

[2021-06-30 18:47] c-shultz commented on #2376
It looks like this has been resolved, so I'm closing it out. We can reopen if this is still relevant!

[2021-06-30 18:47] #2376 closed

[2021-06-30 18:53] kliff-tech opened #2440 "Unable to Print Shipping Label"
When i am trying to create shipping label getting an unexpected error occured message.
Is there any resolution to this?

[2021-06-30 19:02] frosso commented on #2440
Hi @kliff-tech ,

We handle support requests in the plugin's support forum, can you please create a new topic there instead? https://wordpress.org/support/plugin/woocommerce-services/
Please also provide site's URL you're using in the new forum thread.

Have a good one!

Thank you!

[2021-06-30 19:02] #2440 closed, assigned to nobody

[2021-07-01 04:07] dphyled opened #2442 "Clearer messaging about WooCommerce Taxes' Single Tax Nexus functionality"
WooCommerce Taxes handles a single tax nexus, based on the shop's base address. For US-based merchants, this means the Automated Taxes will only calculate taxes for their home state. For most businesses, this meets their needs -- we have more info about this in our documentation here:
https://docs.woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-tax/#section-4

However, many shop

[2021-07-01 04:09] dphyled commented on #2442
(changed to "Bug" after re-reading our discussion 😅 )

[2021-07-01 17:59] harriswong commented on #2333
It seems like the all the Calypso's `<Form..>` components do not exist in WooCommerce Components nor WordPress components. We will have to copy all of them over.

[2021-07-07 17:58] c-shultz commented on #2276
Agreed. I'm bumping this to critical since it sounds like a major potential blocker for using this feature.

[2021-07-07 18:00] c-shultz commented on #2252
Do you know if this is still an issue, @harriswong? It seems like this may have been resolved already through the carrier work that was done.

[2021-07-07 18:02] c-shultz commented on #2001
Based on @superdav42's research, I am closing this. Feel free to reopen if there appears to be an issue still.

[2021-07-07 18:02] #2001 closed

[2021-07-07 23:27] harriswong commented on #2252
I think this is no longer an issue. The available carriers are controlled on the server side. The client doesn't need to pass in a carrier_id property to retrieve individual carrier rate. The `'connect/label/(?P<order_id>\d+)/rates'` end point will return all available rates, as long as they are configured properly and enabled.

[2021-07-08 20:02] harriswong commented on #2252
Closing.

[2021-07-08 20:02] #2252 closed

[2021-07-09 13:59] waclawjacek opened #2454 "Fix E2E tests"
E2E tests stopped running by the time commit b868d4d792c9f04fa4e230b6cdb692d520a9939a was pushed. 36ec834b28c7625a6644508fb1d6d2ea62b1bc52 is the last commit that had working tests.

The issue was caused by the GitHub action being stuck as the `npm run docker:ping` script. It seems the script is checking if a page with slug `ready` exists and it doesn't because WP installation fails.

I did some d

[2021-07-09 17:07] waclawjacek commented on #2454
I have received some pointers on Slack from @rrennick: p1625752183439400-slack-C01BWDDTGKX

[2021-07-09 17:46] allendav opened #2455 "PHP Notice: Undefined property: stdClass::$commercial_invoice_url"
Observed in the PHP logs when purchasing a US Priority Mail label (origin: Washington State, destination: Washington State) using 1.25.13. Label purchase seemed unaffected.

[code]

[2021-07-09 18:55] frosso opened #2456 "chore: update WP compatibility"
## Description
WordPress 5.8 is scheduled to be released on July 20th.

Update notes: https://make.wordpress.org/core/2021/07/03/wordpress-5-8-field-guide/
Beta testing: https://make.wordpress.org/core/handbook/testing/beta-testing/

It looks like the changes should be safe, but we should probably still do a round of testing.

## Acceptance criteria
- WP 5.8 compatibility has been tested
- "Tested

[2021-07-12 14:42] rachelmcr opened #2457 "Validate name field is non-empty when normalizing address"
When a client sends a name and address to the `connect/normalize-address` endpoint, the [endpoint ignores the name](https://github.com/Automattic/woocommerce-services/blob/324fcbaac44ae13074eed77bb1a5930d7def5891/classes/class-wc-rest-connect-address-normalization-controller.php#L21).

However, this can cause trouble later if the name field is left empty. For example, as reported in https://github

[2021-07-14 10:14] waclawjacek commented on #2454
Some other ideas shared with me/links that might help:

- Try running the tests in non-headless mode.
- https://solarisp2.wordpress.com/2021/03/11/e2e-container-error-with-wordpress-5-7/
- https://make.wordpress.org/core/2021/02/16/login-registration-screens-changes-in-wordpress-5-7/

[2021-07-20 03:24] isramos commented on #2276
This is a major flaw. I'm glad I came across this write-up. I put the phone number and it worked!  One hour of my evening was wasted on this issue :(
(FYI: another flaw is that if you have a PO box as the sender address, it also fails. You must have a physical street address as the sender. Again, lacking the proper error message)

[2021-07-27 15:06] hichamboushaba opened #2460 "Non-store owners can access the shipping label form when there are no payment methods"
If a store hasn't any payment methods, a non-store owner can't add a new payment method, but they can still access the shipping label creation form, and at the end of it, they will see a button "Add credit card" that will redirect them to their wordpress.com account instead of the owner's account
<img width="425" alt="Screen Shot 2021-07-27 at 15 46 14" src="https://user-images.githubusercontent.c

[2021-07-28 14:23] aheckler commented on #2144
28746439-hc

[2021-07-30 17:33] #2456 closed, assigned to frosso

[2021-07-30 18:14] jessLundie opened #2463 "Tax rates pulled in correctly, but not applied to order when there's a space in the Postcode"
**Issue**
Automated Taxes

When a customer checks out with a space in the Postcode, tax rates are pulled in and logged, but no tax is applied to the order.

**Steps to Reproduce**

Replicated with a site set up in Sweden, similar to the reporting customer (4173062-zen). Shop settings Sweden, customer address Sweden. Sweden has a 25% base rate country-wide, so this is a relatively simple replicatio

[2021-08-02 12:31] simplysaru opened #2464 "Not supported country Notification"
It would be nice to notify a user why the "enable automated taxes" is not available for them in the tax options section when the plugin is activated i.e usually they are in an unsupported country.

A clear message that the country where the store operates isn't supported for Automated taxes [yet] would help alleviate customer confusion and some support requests.

[2021-08-02 17:20] frosso commented on #2464
I added something on the "status" page.
Adding a notification in `wp-admin` would be nice, but I'm afraid that it would get annoying on stores that we don't support 👀

[2021-08-03 14:11] bborman22 commented on #2236
Cleaning out some stragglers, marking as closed since all related PRs are merged and issue marked as waiting for demo.

[2021-08-03 14:11] #2236 closed

[2021-08-04 18:29] frosso commented on #2454
Fixes here: https://github.com/Automattic/woocommerce-services/pull/2467

[2021-08-06 12:00] brettshumaker commented on #2422
@FangedParakeet and I took a look at this yesterday. We've traced the address through the react app and we're fairly confident that we're sending the selected address through to EasyPost, but it's sending back the validated address on the label. We suspect that they could be doing an address validation on their side before creating the label. We also tried setting the `address_validation_level` to

[2021-08-10 14:07] simplysaru opened #2469 "Usps customs forms needs updates"
User reported in the [forums](https://wordpress.org/support/topic/international-customs-forms-out-of-date/) that the USPS form that we print is outdated, i.e we print 2976-A Mar 2015. The current form is 2976-R Apr 2016.

I did find mention of the new form on the USPS [here](https://www.usps.com/international/customs-forms.htm).
![](https://d.pr/i/y81dh0+)

Thanks.

[2021-08-12 13:50] brettshumaker commented on #2422
From Easypost support:

@FangedParakeet It doesn't look like this feature is available for USPS shipments on the Easypost side, so we will need to re-think this feature to see if we can offer it on _any_ carriers or if we'll need to remove it entirely.

[2021-08-12 18:33] FangedParakeet commented on #2422
In the label purchasing flow, a user selects their shipping service after they've entered their address, so it sounds like maybe we might want to remove the option to choose between a manually entered address and a verified address entirely.

In the case of new addresses that might not be verifiable, perhaps we should try to verify the address first and only use the originally entered address if n

[2021-08-12 19:39] #2454 closed, assigned to frosso

[2021-08-14 16:32] RiaanKnoetze commented on #2276
Flagging this issue that popped up for [Checkout Field Editor](https://woocommerce.com/products/woocommerce-checkout-field-editor/?aff=10486&cid=1131038):

191-gh-woocommerce/woocommerce-checkout-field-editor

I'm unsure if this is already the case, but if the customer is _only_ using [WooCommerce Shipping & Tax](https://woocommerce.com/products/shipping/?aff=10486&cid=1131038) for tax calculation

[2021-08-16 10:12] #2276 closed

[2021-08-16 14:06] #2423 closed, assigned to brettshumaker

[2021-08-16 14:19] #2455 closed, assigned to brettshumaker

[2021-08-16 14:31] #2464 closed, assigned to frosso

[2021-08-18 22:09] selectedselections commented on #1611
reported again in 31118923-hc

[2021-09-09 11:40] joshheald opened #2471 "Enabling automated tax deletes all stored tax rates"
This issue was discovered on support due to a user being unable to set their tax rates. 4283940-zen

## Summary

When changing the `Automated taxes` setting from `Disable automated taxes` to `Enable automated taxes`, previously entered tax rates are deleted without warning.
<img width="945" alt="Automated taxes setting" src="https://user-images.githubusercontent.com/2472348/132665656-892a37fb-ccbb

[2021-09-10 05:44] AashikP opened #2472 "Media Mail Option - Missing / Disappeared?"
Hello Team 👋

Media Mail is currently not a shipping option that we can choose.

Steps to replicate:

1. Configure [WooCommerce Shipping & Tax](https://woocommerce.com/products/shipping/?aff=10486&cid=1131038)
2. Note that you'll not find Media Mail as an option while attempting to print shipping label

---

I reached out via p1631159483216100-slack-C7U3Y3VMY where @tommyshellberg  could replicate

[2021-09-10 06:38] AashikP opened #2473 "Display company name under Origin and Destination Address while printing labels"
**Describe the bug**

Company name is not displayed under Origin / Destination address:

![https://d.pr/i/h1Jc6l+](https://d.pr/i/h1Jc6l+)

**To Reproduce**
1. Attempt to print a shipping label
2. Notice that the company name is missing
3. This happens even though the edit address option displays the company name:
    ![https://d.pr/i/HmwBit+](https://d.pr/i/HmwBit+)
4. Confirm that the actual lab

[2021-09-14 20:59] frosso commented on #2472
I've been testing this on both staging and production.
I can confirm that Media Mail is still present - example:
![Screen Shot 2021-09-14 at 3 49 43 PM](https://user-images.githubusercontent.com/273592/133331865-769de5dd-8b30-44b4-aadc-2e0b6959d272.png)

Please note that Media Mail is not eligible for all shipping destinations, it also includes some restrictions on size and weight.
Also, make sure

[2021-09-14 20:59] #2472 closed, assigned to frosso

[2021-09-17 04:37] AashikP commented on #2472
@frosso  Thank you for checking. The Follow-up question is, shouldn't we also see them as one of the packaging options? We're looking at the shipping rate section on your screenshot.

[2021-09-20 13:43] frosso commented on #2469
Hi @simplysaru, thanks for the report ! I reached out to our partner to see what we can do on our side.

[2021-09-20 13:45] frosso opened #2474 "Currency compatibility with WooCommerce Payments"
## Description

I noticed that when the multi-currency functionality of WooCommerce Payments is enabled with a currency !== USD, the shipping purchase flow is failing, saying that only USD is accepted.

## Steps to reproduce
- Install WC Shipping & Tax
- Ensure your store's location is in the US, store's currency is USD
- Install & Configure WooCommerce Payments
- In WC Pay, "Enable the new WooCom

[2021-09-20 17:48] frosso commented on #2472
@AashikP my apologies, can you please clarify?

USPS Media Mail is present in the "shipping rates" section of the screenshot as the second (selected) option.

Media Mail doesn't have any preset boxes, the merchant would need to create a custom box/envelope with their dimensions through the UI.
![Screen Shot 2021-09-20 at 12 47 44 PM](https://user-images.githubusercontent.com/273592/134049654-2e78e

[2021-09-21 15:08] tbarlow03 commented on #2472
Thank you for the help with this. I was able to finally get it working by creating and adding the custom package. After that was created and I could select it when shipping I was able to see the Media Mail option for shipping. Thank you!

[2021-09-21 17:17] zhongruige opened #2475 ""HTTP API Calls" error triggered upon clicking "WooCommerce Shipping" option on shipping screen"
## Bug Description:
"HTTP API Calls" error triggered upon clicking "WooCommerce Shipping" option on shipping screen.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 RC-2 & 5.8 beta
WordPress version: v5.8.1

PC:
Windows 10, Mac 10.14.6
Chrome(Version 93.0.4577.82)
Firefox(Version 92.0 (64-bit))
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and a

[2021-09-21 17:18] zhongruige commented on #2475
This issue was originally logged here: https://github.com/woocommerce/woocommerce/issues/30747

[2021-09-21 17:19] zhongruige commented on #2475
@barryhughes did some investigation and found the following:

It's making a POST request to https://api.woocommerce.com/subscriptions but this error is being returned (status 400):

[code]

(Missing `x-woo-signature`)

[2021-09-22 15:03] jessLundie opened #2476 "Changing email address on Jetpack account results in 403 errors for shipping labels"
### Describe the issue

WooCommerce Shipping user changed email addresses on their Jetpack account. They did not change the actual Jetpack account connected to the site, and the Jetpack username remained the same. Only the email address changed.

After the email address changed, they were no longer able to access / regenerate labels that were created prior to the email address change. When attempt

[2021-09-23 07:04] waclawjacek commented on #2476
Looks like this _could_ be related to paJDVv-18D-p2.

[2021-09-24 18:50] P0stmaster opened #2477 "Currency Displaying in Country Dropdown Shipping"
I've deactivated all other plugins, yet I am having issues competing orders because the dropdown is displaying currencies rather than countries.
![sp](https://user-images.githubusercontent.com/36684450/134725584-5f64f304-6b04-42b5-81e5-bc56b654953f.png)

[2021-09-24 19:18] frosso commented on #2469
I asked the merchant for additional information on the original forum thread. I haven't yet seen any updates.

[2021-09-24 21:51] frosso commented on #2471
@joshheald to clarify - before overwriting, the tax rates are backed up in the WP site's upload directory, in a CSV file with name `taxjar-wc_tax_rates-{YYY-MM-DD}-{time}.csv`, where `{YYY-MM-DD}` is the current date and `{time}` is the current Unix timestamp.

We already have the following statement [in our documentation](https://docs.woocommerce.com/document/woocommerce-shipping-and-tax/woocomme

[2021-09-25 02:16] AashikP commented on #2472
My bad. Thank you for clarifying, @frosso  👍

[2021-09-27 01:30] P0stmaster commented on #2477
Nothing?

[2021-09-27 14:14] joshheald commented on #2471
Thanks @frosso
The CSV backup note sounds good, however if it's only in the documentation it seems unlikely that folks will find them if they switch and find the rates gone.

The documentation will probably help HE's find the backups and resolve it for someone, but I do wonder whether it would be possible to help people avoid making a mistake here in the first place, perhaps with an alert warning

[2021-09-27 21:23] FangedParakeet commented on #2477
Just want to add that I can replicate this issue, as long as I have the latest version of WooCommerce (5.7.1) with multi-currency enabled. I think the problems here may be related to those in #2474; as far as a cure, rolling back WooCommerce to the previous version (5.6) allows WCShip to continue to function as normal. I believe this is the only workaround currently available. Am investigating thi

[2021-09-28 02:43] FangedParakeet commented on #2477
# Description

All country fields inside the purchase label modal are showing incorrect values. This only occurs with latest WooCommerce 5.7.1, with multi-currency enabled. Rolling back to WC 5.6 resolves this issue. For some reason, the list of locations is now populated by currencies, since the Redux store is loading unrelated data for `locations`.

![Redux in disarray](https://cdn-std.droplr.ne

[2021-09-29 06:58] AashikP commented on #2476
I could replicate the same issue, but only the first time I updated my email address. So sadly, I don't have screenshots for the same:

1. Purchase a shipping label
2. Change linked WordPress.com account email address
3. Attempt to access the order and notice the error

A temporary workaround would be to disconnect Jetpack and then re-connect it again to the same account where the labels were purc

[2021-09-29 17:47] bborman22 opened #2478 "Subscription Synchronizer adding free trial with automated taxes enabled"
We had a user report an issue where the items in their cart were getting "With Array free trial" appended to their products names in the cart when using a combination of: WCS&T with automated taxes, Subscriptions with Synchronization, and All Products for WooCommerce Subscriptions.

There was some additional research on this issue and the apparent culprit is in this line:
https://github.com/Automa

[2021-09-30 20:45] csmcneill commented on #2478
Issue reported in 4330767-zen.

[2021-10-01 06:58] manospsyx commented on #2478
Some additional context/analysis in this thread: https://a8c.slack.com/archives/C07414X4N/p1632852336307200

Summary:

<img width="1186" alt="Image 2020-08-13 at 11 09 47 a m" src="https://user-images.githubusercontent.com/1783726/135578080-fe9ad4c3-8c14-4a87-86dc-1f3e9bb79e88.png">

<img width="1127" alt="Image 2020-08-13 at 11 11 28 a m" src="https://user-images.githubusercontent.com/1783726/135

[2021-10-01 12:40] luanluta commented on #2477
I have another report of this here 4339918-zd-woothemes.

![https://d.pr/i/c5CpZn](https://d.pr/i/c5CpZn+)
Link: https://d.pr/i/c5CpZn

![https://d.pr/i/U8eTtD](https://d.pr/i/U8eTtD+)
Link: https://d.pr/i/U8eTtD

[2021-10-04 19:27] bborman22 opened #2480 "Firefox blob scheme marked as "Connection not secure""
A user brought it to our attention that in Firefox, the shipping labels are opened in a new tab using the blob scheme to display the label. In doing so the page is marked with a Connect not secure warning on the URL. While there isn't any security concerns because of how the blob scheme works, it could alleviate any concerns a merchant might have when they see this warning if we're able to avoid i

[2021-10-04 19:35] csmcneill commented on #2480
Initially reported in 4342617-zen.

[2021-10-05 14:16] bborman22 commented on #2474
I haven't been able to reproduce this with the latest WCS&T trunk and WooCommerce Payments 3.0. I set up the latest WCPay and turned on the currency switcher widget. I went through a checkout flow using Euros and then purchased the shipping label for the order and it seemed to all work.

 I was wondering if there were more details to reproduce and/or perhaps a WCPay update fixed the issue?

[2021-10-05 14:24] frosso commented on #2474
@bborman22 thanks for checking on this!
Unfortunately, I can still reproduce this, with WCPay 3.0.0 and WCS 1.25.18. Disabling WCPay makes the problem go away:
![Screen Shot 2021-10-05 at 9 18 15 AM](https://user-images.githubusercontent.com/273592/136041533-037795a0-1145-4bc0-8418-307875fcf85e.png)

These are my currency settings:
![Screen Shot 2021-10-05 at 9 20 27 AM](https://user-images.github

[2021-10-05 21:36] harriswong opened #2483 "Refactor WCS's test codes that depends on WooCommerce's test libraries"
### Description
WCS&T uses includes WooCommerce core's test library `'tests/legacy/bootstrap.php'` in our [PHPUnit bootstrap file](https://github.com/Automattic/woocommerce-services/blob/e36bf5a36e6d9c8218196ef87c430ff38e4be5b9/tests/php/bootstrap.php#L51). One example why we need this is the use of `WC_REST_Unit_Test_Case` ([link](https://github.com/Automattic/woocommerce-services/blob/e36bf5a36e

[2021-10-07 06:19] drwpcom commented on #2477
Case in 4344625-zen.

[2021-10-07 13:44] #2477 closed, assigned to nobody

[2021-10-07 19:08] namiokuzono commented on #1611
reported in 4336550-zen

[2021-10-13 10:43] iyut commented on #2474
Hi @frosso ,

I seems cannot replicate the issue with WC Payments 3.1.0 and WCS&T 1.25.18. This is how I created the order using EUR currency :
![screenshot-localhost_8050-2021 10 13-17_35_15](https://user-images.githubusercontent.com/631098/137117912-9c100f76-8f81-4ab8-9fc5-b528c9b1ef37.png)

These are my multi-currency settings :
![screenshot-localhost_8050-2021 10 13-17_36_10](https://user-imag

[2021-10-13 19:45] briancwelch opened #2485 "Unable to retrieve USPS shipping rates."
WooCommerce Shipping and Tax is failing at pulling the latest shipping rates from USPS.

[code]

[2021-10-13 20:31] turboedge commented on #2485
Same here. Recently installed WooCommerce 5.8.0. Related?

[2021-10-14 00:49] briancwelch commented on #2485
@turboedge I don't believe so personally.  It looks like API auth is broken which would not be anything that is dependent on our sites, rather the plugin itself.  We have been running 5.8 since release but this issue only just cropped up for us between 7:57 am PST and 10:14 am PST 10/13.  The order at 8am was able to pull rates fine, but the order at 10am was unable to and nothing within our site

[2021-10-14 13:27] c-shultz commented on #2256
@shadimanna, I'm adding this to the queue in case some fresh eyes on it help find the issue (without a label printer)

[2021-10-14 19:35] sisaacrussell commented on #2485
24 hours later and no resolution on a cart-breaking bug... :(

Response from support:

That doesn't work for this plugin of course, only for the paid USPS Shipping Method plugin. Has anyone found a way to override the USPS API key for this plugin?

[2021-10-14 21:53] frosso commented on #2474
I haven't been able to reproduce this on a brand new site either - I tried on a couple of brand new sites with no luck.
However, I can still consistently reproduce this issue on my original site:
- Currency: https://d.pr/i/nvXCmJ
- Multi-currency: https://d.pr/i/IKQ8aM
- Error:https://d.pr/i/WX6R2k

I'm not sure what can be the cause of this issue. In any case, additional steps to reproduce are ne

[2021-10-14 21:53] #2474 closed, assigned to iyut

[2021-10-15 14:55] iyut commented on #2099
Hi @aarondemolder , I seems cannot replicate this issue in the latest version ( 1.25.19 ).

I have tested this in their production site ( https://ver-te.com/checkout/ ), and on my local as well using storefront, twenty twenty-one, and twenty twenty theme.

Do you have more information to replicate the issue?

[2021-10-15 15:10] aarondemolder commented on #2099
Hey @iyut

You're right, it seems this is bug no longer occurs, fixed purposefully or not! I couldn't replicate in production either - it originally occurred over a year ago so I assume it got caught somewhere else.

I'll close this - thanks for checking it out.

[2021-10-15 15:10] #2099 closed

[2021-10-19 10:01] sarun007 opened #2488 "USPS shipping Method is not showing"
WooCommerce Shipping and Tax is failing at pulling the latest shipping rates from USPS. Due to this issue, USPS shipping option is not showing on the website.

10-19-2021 @ 01:44:45 - Error: Unexpected USPS Response: <?xml version="1.0" encoding="UTF-8"?>
<Error><Number>80040B1A</Number><Description>Authorization failure.  You are not authorized to connect to this server.</Description><Source>USPS

[2021-10-19 15:59] chuklz commented on #2485
Have the same issue. Support isn't supporting it, and forums aren't find much to assist either.

It was briefly back late last week with no intervention and then it went back down.

[2021-10-19 16:45] snjrose commented on #2485
Having this same issue. Is there no way to get support from Woocommerce Shipping and Tax plug in?

[2021-10-19 19:10] dmchale commented on #2488
Can confirm, had this happen to us as well and have been debugging this for a client today. Not sure when precisely the issue started (they are a low-volume site doing zero to three orders per day) but their last successful order was four days ago on 10/15

It seems the 150WOOTH2143 account number that comes pre-filled with the extension is no longer allowed to make API calls

edit: just came back

[2021-10-20 02:45] asuh commented on #2488
@dmchale is correct, wow. This is bad.

I'm not quite sure what this USPS Shipping & Tax plugin is doing to fetch rates for buying postage, it's not clear in their code. However, the issues I'm having are also related to another plugin that's used to fetch USPS shipping rates directly from the API.

[USPS Shipping Method](https://woocommerce.com/products/usps-shipping-method/) lists in their docum

[2021-10-20 02:46] asuh commented on #2485
Sadly, this appears to be a problem with the USPS plugin that WooCommerce offers. This is bad.

I'm not quite sure what this USPS Shipping & Tax plugin is doing to fetch rates for buying postage, it's not clear in their code. However, the issues I'm having are related to another plugin that's used to fetch USPS shipping rates directly from the API.

[USPS Shipping Method](https://woocommerce.com/p

[2021-10-20 03:04] snjrose commented on #2485
I appreciate this so much, but I still can't access the USPS settings from
my admin. My new USPS username is 214LEGEN7901 but when I go to
https://www.legendaryletters.com/Wp-admin/admin.php?page=wc-
settings&tab=shipping&section=usps it just redirects me to a sign in page
over and over. Are you able to access it to put in my new username?

Stacy
On Tue, Oct 19, 2021, 7:47 PM Micah ***@***.***> wr

[2021-10-20 03:12] asuh commented on #2485
Hey Stacy, am I right that you are hosting your site on wordpress.com? I wrote the above instructions for self-hosted WordPress websites. LMK and I'll update the instructions to include wordpress.com hosted sites, I just need to know what your URL is to get to the USPS page in the Shipping section inside of WooCommerce.

[2021-10-20 03:15] snjrose commented on #2485
It's not on WordPress.com. It's self hosted on dreamhost. There is no USPS
section under my shipping settings. When I read some solutions in the
forums most people said they did have that, but I don't. I can't find
anywhere I can enter the new username.

On Tue, Oct 19, 2021, 8:12 PM Micah ***@***.***> wrote:

[2021-10-20 03:22] asuh commented on #2485
Okay good to know. The plugin that I'm using which is having issues is named [WooCommerce USPS Shipping](https://woocommerce.com/products/usps-shipping-method/) (actually called USPS Shipping Method), which shows up like this in my plugins section:
<img width="229" alt="Screen Shot 2021-10-19 at 20 17 50" src="https://user-images.githubusercontent.com/454064/138022627-1356e58d-7e80-4375-b319-06a9b

[2021-10-20 03:25] snjrose commented on #2485
I am using the Woocommerce Shipping & Tax free plugin that uses Jetpack. It
won't let me enter my own USPS user name.  I just experienced the issue
today, but some forum posts are almost a week old and they say it comes and
goes. I am hoping it just starts working again.

On Tue, Oct 19, 2021, 8:22 PM Micah ***@***.***> wrote:

[2021-10-20 03:54] asuh commented on #2485
@frosso @harriswong  I don't know who we can reach out to, but is it possible the private API that this plugin is using also uses the flaky `150WOOTH2143` USPS User ID to fetch rates? Or something similar? This could very well be a USPS issue?

That said, I've posted a solution in this thread for fetching shipping rates on the front-end based up signing up for the USPS Web Tools API and using a cu

[2021-10-20 03:57] WillBrubaker opened #2489 "Report not populating"
I got a report of a blank CSV export for the shipping labels report in 4390487-zen 29020105-HC and in trying to replicate that, my reports aren't populating at all though I have purchased labels.

![see screen shot](https://d.pr/i/l3r1D3+)

[2021-10-20 03:57] asuh commented on #2488
@dmchale With your solution, are you only applying that solution to this plugin, WooCommerce Shipping & Tax? Or is your solution with the same one I referenced above?

With this plugin, I cannot find where `150WOOTH2143` exists in the Dashboard's WooCommerce section.

[2021-10-20 04:13] dmchale commented on #2488
@asuh sorry for the confusion - you're correct, I updated my settings in the `USPS Shipping Method` plugin. I grabbed the code for the `WooCommerce Services` plugin but didn't find any hits on that user account or even the .dll URI used by the API ... perhaps it's hidden behind something Automattic is doing as some type of SaaS with this plugin?

[2021-10-20 04:16] asuh commented on #2488
I previously asked the authors if they were using a private API for the USPS API fetches, and they confirmed it to be true.

With that said, after your customer successfully made an order, were you successful in buying postage for the order? That's where I believe this Shipping & Tax plugin would have to also fetch the USPS API for these prices, and it's possible they're using a similar or identic

[2021-10-20 13:28] frosso commented on #2485
Apologies for the delay everyone, but the account we were using for retrieving USPS rates has been deactivated by USPS without giving us notice.
We are currently still waiting for approval on a brand new account.

In the meantime, if you're using the USPS live rates functionality, we recommend either using a fallback rate or temporarily switch to be using the [USPS shipping method](https://woocomm

[2021-10-21 02:30] WillBrubaker commented on #2489
A day later I have a report ¯\_(ツ)_/¯

[2021-10-21 02:30] #2489 closed, assigned to nobody

[2021-10-26 08:52] dustinparker commented on #2478
Hey everyone,

**Array free trial issue**
I haven't been able to replicate the "Array free trial" part of the issue yet. Would someone mind posting some screenshots of their WC Subscriptions settings and both product settings so I can try to replicate an exact setup? Thanks!

**Mini cart total issue**
The mini cart price appears to show the price that will be charged on the current day, so shows $

[2021-10-26 14:01] manospsyx commented on #2478
Hey @dustinparker 👋

The issue manifests itself differently when adding:

- a simple product with (synced) subscription plans to the cart (plans added with the All Products plugin)
- a simple subscription (synced) to the cart.

[This screenshot](https://user-images.githubusercontent.com/1783726/135578115-4d1813da-13f3-41d0-8cd8-fa34c209ef96.png) outlines the difference (note the "1 day free trial"

[2021-10-27 12:27] jessepearson opened #2490 "Compatibility with customer facing currencies other than USD"
Merchants are able to add currencies to their store through various extensions, including the Multi-Currency feature within WooCommerce Payments. This allows the store currency to remain USD, but they are able to accept payments in other currencies, such as CAD and EUR.

I tested WooCommerce Shipping and Tax with WCPay Multi-Currency and found:
* Legacy shipping rates in cart/checkout convert corr

[2021-10-29 17:25] harriswong opened #2492 "Update GitHub Action matrix on WC x WP"
## Description
Our support policy with WooCommerce is L-2 https://woocommerce.com/support-policy/. The matrix should test WP version based on the supported WC versions.

Currently, tests are failing with WP 5.4.4 x WC 5.8.0 version, reason is WC 5.8 requires WP 5.6. ref: https://github.com/Automattic/woocommerce-services/runs/4022672806?check_suite_focus=true

## Related issue
https://github.com/A

[2021-10-29 19:12] #2492 closed, assigned to harriswong

[2021-11-01 15:16] #2383 closed

[2021-11-02 18:09] chrislevine24 commented on #1653
Has there been any progress on this? It's been some time and the problem is still there.

[2021-11-02 19:06] cre8tivediva opened #2495 "Default Shipping Option Changes on iPhones Only"
Priority Mail is the default shipping. On iOS devices, the default shipping is **switching** to Local PU. I've had two other developers test this with me. It happens to one and not the other. We're using California as an address and the same product for testing. Is this a bug? Priority Mail should just be the default no matter what and someone would need to manually select Local Pickup. We cannot

[2021-11-03 03:39] AashikP commented on #2006
Another report in 4425043-zen

[2021-11-03 13:07] JS-fashion commented on #2006
Thank you very much for your maximum help, after your intervention everything was working as it should, now I notice that the shipping calculation and delivery date was disabled again after I installed peyement woocommerce.

[2021-11-04 09:56] #2235 closed

[2021-11-05 13:00] dustinparker commented on #2478
Thanks @manospsyx ! I'm able to recreate the issue now and am looking into it.

[2021-11-08 13:10] #2371 closed

[2021-11-08 19:24] waclawjacek opened #2500 "Fix broken DHL T&C link in docs"
The DHL T&C link in [the "How do I submit an insurance claim for lost or damaged shipments?" section of the docs](https://woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-shipping/#section-38) is broken.

![Markup on 2021-11-08 at 20:12:01](https://user-images.githubusercontent.com/1759681/140803141-4f9e2ef6-2e75-44f0-9ac5-3970d014602f.png)

[2021-11-08 20:34] waclawjacek commented on #2500
Clicking other links to the DHL T&C in that documentation page, I noticed some of them redirect to https://mydhl.express.dhl/us/en/legal.html where the T&C seem to be now:

![Markup on 2021-11-08 at 21:27:06](https://user-images.githubusercontent.com/1759681/140814026-93c26339-9476-44c1-bd3a-64f103ba5abf.png)

Although the T&C open in a modal now, right-clicking this section and selecting "Copy Li

[2021-11-10 08:13] #2463 closed, assigned to dustinparker

[2021-11-10 11:05] #2490 closed, assigned to iyut

[2021-11-12 21:46] billrobbins commented on #1226
Has this changed?  I had a merchant in chat today who is facing the *opposite* problem.  They need shipping in Florida to be taxed but the rates are coming without taxing shipping.  I could replicate this on my test site.  Here's a screenshot of the rate table with an origin and destination in Miami.

![rates-no-shipping-tax](https://user-images.githubusercontent.com/1138631/141538136-aca8bfd8-9f8

[2021-11-13 14:11] dustinparker opened #2503 "PHPUnit Polyfills library requirement"
We recently started getting the following error when trying to run PHPUnit tests on the WC Services extension:
[code]

The issue appears to be connected to [this WP core changeset](https://core.trac.wordpress.org/changeset/51813)

It appears we need to add the following constant definition to the PHPUnit bootstrap.php file in order to fix the error:

[code]

[2021-11-14 04:21] iyut commented on #2480
@bborman22 I did some digging into the plugin code and **here is what I found** :

The plugin need to use blob in Firefox because there is some concern with the browser's PDF reader reliability based on [this comment](https://github.com/Automattic/woocommerce-services/blob/c39f7c7cbb506830beb399d0e326f19d30620100/client/extensions/woocommerce/woocommerce-services/lib/utils/pdf-support.js#L29-L30).

[2021-11-15 17:07] frosso commented on #2442
This messaging was implemented in https://github.com/Automattic/woocommerce-services/pull/2484

Unfortunately, the UI doesn't match because the styling capabilities for the section are very limited and cannot vary too much from the "default" WooCommerce styles.

[2021-11-15 17:07] #2442 closed, assigned to nobody

[2021-11-15 17:27] frosso commented on #2500
I don't have edit access.
[Reported to Team Fire](11788-gh-Automattic/woocommerce.com), following these steps: p6JqRr-4NX-p2

[2021-11-15 17:28] #2500 closed, assigned to frosso

[2021-11-18 13:35] dustinparker commented on #2256
Hey everyone, this potential fix was deployed. If it doesn't fix the issue with the print resolution please feel free to reopen.

[2021-11-18 14:08] #2503 closed, assigned to dustinparker

[2021-11-18 21:21] harriswong opened #2505 "USPS labels no longer scale correctly"
## Description
After the update in https://github.com/Automattic/woocommerce-services/issues/2256, user reports to have a bigger sized labels that would cut off during print. The only way to print correctly is to set scale to “fit to printable area” or “fit to paper.”

Forum post: https://wordpress.org/support/topic/usps-labels-no-longer-scale-correctly/

## Expected behaviour
- The issue describe

[2021-11-19 07:07] iyut commented on #2480
@bborman22 I went ahead by adding a condition to check the firefox version in this [commit](https://github.com/Automattic/woocommerce-services/commit/e2e0d558ae4a327204c35accd1cc95b9704dad8f). What do you think of this approach?

[2021-11-19 09:47] #2184 closed

[2021-11-19 15:03] dustinparker commented on #2258
hey @bborman22,

I tested implementing the changes from [WP Core's Changeset 49037](https://core.trac.wordpress.org/changeset/49037) and running PHPUnit 7.5 with PHP 8.0 and all tests passed using WP 5.6 and WC 5.9.0.

[2021-11-19 15:53] bborman22 commented on #2480
Sorry for the delay on this! That looks like a reasonable approach to the issue to me. I was curious why version 94? It looks like the linked bug was addressed in 75. Is 94 just the point we're able to test conclusively? I think that's a fine decision if so as it's not removing any functionality from anyone and gives us higher confidence.

If you're feeling up for it, would you want to create a PR

[2021-11-19 15:59] bborman22 commented on #2258
That's great to hear! I'm a little bit fuzzy on all the details from this. Are those changes something we can commit in to the repo or could we get them from WC in some way? Would our update be similar to https://github.com/woocommerce/woocommerce/pull/27844/files? Thanks for looking in to this one!

[2021-11-22 12:05] drwpcom commented on #2505
Also in 4533104-zen

[2021-11-22 12:12] senff commented on #2505
4466572-zen

[2021-11-22 13:20] iyut commented on #2480
Yeah, the decision to use version 94 is because I can only run a full test using Firefox version 94.

Yes sure, I can create a PR and list out a scenario for the reviewer to test. Thanks for the advice here.

[2021-11-22 13:24] dustinparker commented on #2258
I just tested running the compatibility fork with PHP 8.0 [as instructed here](https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce/tests#running-tests-in-php-8) and it also works. That is actually the simpler way to do it.

[2021-11-23 17:19] shaunkuschel commented on #2505
4466916-zen

[2021-11-23 17:59] melek commented on #2505
4537332-zen

[2021-11-24 11:24] #2478 closed, assigned to dustinparker

[2021-11-24 12:06] #2475 closed, assigned to iyut

[2021-11-24 12:17] #2473 closed, assigned to iyut

[2021-11-29 07:00] dustinparker commented on #2258
hey @bborman22, was there anything else related to this issue you'd like me to look into?

[2021-11-29 16:01] bborman22 commented on #2258
Thanks! No I don't think there is anything else to verify at this point since we're able to get tests in PHP 8 to work. @harriswong I see you had a linked issue around adding PHP versions to the GH actions, looks like that item is unblocked now and we could look in to [this solution](https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce/tests#running-tests-in-php-8) linked abov

[2021-11-29 16:01] #2258 closed

[2021-11-29 16:43] harriswong commented on #2258
Thanks @dustinparker

@bborman22 I agree! It would be good for the pipeline to cover both PHP 7 and 8 tests. Glancing over [the setup instructions](https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce/tests#running-tests-in-php-8), I feel a little hesitant about the locally modified composer.json and the PHPUnit fork. But maybe I'll just need to read into what the fork changes

[2021-12-01 01:33] darcie commented on #2505
4559225-zen

[2021-12-02 07:13] #2480 closed, assigned to iyut

[2021-12-02 14:18] dustinparker commented on #2495
Hi @cre8tivediva, could you please try deleting the Local Pickup method from the shipping zone by following the steps in this screenshot:

![screenshot-localhost_8050-2021 12 02-15_11_59](https://user-images.githubusercontent.com/11618203/144438676-470dfba1-1ceb-410b-a6cd-7a07f5eca1f1.png)

Then please add the Local Pickup method back to the shipping zone and save again. This should change the def

[2021-12-02 16:19] nagpai commented on #2505
4558449-zen

[2021-12-02 16:24] nagpai commented on #2505
I have set the priority as high, @harriswong  since there seem to be quite a few users affected. Feel free to revise it if needed.

[2021-12-02 16:42] harriswong commented on #2505
The background of this is that fixing the blurry issue (https://github.com/Automattic/woocommerce-services/issues/2256) bumped up the dimensions here.
I had a chat with @dustinparker regarding this. We tried to address this by changing the dpi directly (72->300) instead of scaling the dimensions. But it leads to some other issues (page cut off, etc) @dustinparker can add to this.

I think we are l

[2021-12-02 17:09] dustinparker commented on #2505
@harriswong, it's hard to say because I am fairly certain the DPI change will fix the blurry issues, but we haven't been able to get confirmation from the merchants that had experienced that issue. Since the workaround for this scaling issue is pretty simple (just clicking on "fit to printable" on the browser's print modal), I would lean toward leaving the DPI change and just adding documentation.

[2021-12-02 17:16] harriswong commented on #2505
There are some replies in the forum thread https://wordpress.org/support/topic/usps-labels-no-longer-scale-correctly/ . Do we need to set both dimensions (scale up by *300/72) and dpi (the config setting) to 300 to fix the issue?

[2021-12-02 17:20] harriswong commented on #2505
Another note, I was just checking how shipstation handle this. https://help.shipstation.com/hc/en-us/articles/360025853212-Labels-Print-Too-Big-or-Too-Small#adjust-printer-preferences-windows--0-1. It looks like zebra has different DPI settings? In the screenshot there, it seems to be 203 dpi.

[2021-12-02 19:40] dustinparker commented on #2505
Yes, this is already the case. The paper sizes are all scaled by the new DPI of 300 as well. The paper sizes have to use the same DPI otherwise the PDF would be cut-off even when you select fit to printable. That is interesting that one person said it was blurry for them even with the changes. It would be nice to know what printer they were using and what settings.

The 300 DPI should work fine fo

[2021-12-02 20:52] frosso opened #2511 "Invalid address - "Name" is required even when it is present"
## Description

When validating the origin address, the message "We were unable to automatically verify the address — Name is required." could appear even when the "name" is already filled.
![Screen Shot 2021-12-02 at 2 47 54 PM](https://user-images.githubusercontent.com/273592/144500706-e26b2a79-051a-471e-86fb-846fb9a130a4.png)

It looks like in https://github.com/Automattic/woocommerce-services/

[2021-12-02 22:36] frosso commented on #2511
After looking into it a bit more, it looks like the issue might be on the connect server side of things.

[2021-12-02 23:12] frosso commented on #2511
Reported on:
- https://wordpress.org/support/topic/address-verification-issue-name-is-required-error/
- 26275371-hc
- 30835613-hc

[2021-12-03 00:44] darcie commented on #2511
4564218-zen

[2021-12-03 01:30] mouligreenlaw commented on #2511
4565191-zen

[2021-12-03 03:48] solstudioim commented on #2511
32150771-HC

[2021-12-03 06:48] ldr2273 commented on #2511
4564319-zen

[2021-12-03 07:27] nagpai commented on #2511
30489971-zen

[2021-12-03 17:39] c-shultz commented on #2511
We're looking to create a short term fix for this by reverting some API server changes. This should resolve the immediate issue.

[2021-12-03 18:00] frosso commented on #2511
The fix has been released on the server side, no plugin update is necessary.

The issue still persists in the server's staging environment, but won't affect merchants.

[2021-12-03 18:03] nicholasjeberlin commented on #2505
22248278-hc

[2021-12-03 18:03] nicholasjeberlin commented on #2511
22248278-hc

[2021-12-03 18:18] jrick1229 commented on #2505
4564667-zen

[2021-12-04 10:04] wpniall commented on #2511
4566495-zen

[2021-12-04 20:40] thracefulton commented on #2511
4566938-zen

[2021-12-05 14:03] felipevelzani commented on #2511
4567062-zen

[2021-12-06 16:33] csmcneill commented on #2426
Reported in 4567583-zen. Tax is not calculated on any shipments where the merchant has a tax nexus, and it is not limited to what the `Default Customer Location` setting is.

Edit: It appears as though the issue in 4567583-zen is related to custom code and is likely not affected by this issue.

[2021-12-06 18:09] csmcneill commented on #2511
4564300-zen

[2021-12-08 12:33] #2006 closed

[2021-12-08 15:43] dustinparker commented on #2495
Hi @cre8tivediva, I've been trying to replicate the issue on iPhone and haven't been able to do so yet. USPS Priority is selected by default as long is it has the highest priority in the shipping method list for the shipping zone. Could you please send me some screenshots of the shipping zone settings as well as the USPS method settings so I can try to replicate? Thank you!

[2021-12-09 13:29] iyut commented on #662
This issue might be fixed in this [PR](https://github.com/Automattic/woocommerce-connect-server/pull/1867). Feel free to re-open this issue if someone think otherwise.

[2021-12-09 13:29] #662 closed

[2021-12-13 11:22] martynmjones commented on #2505
4604120-zen

[2021-12-13 20:19] billrobbins opened #2514 "Mixing $0 items that are only taxed for shipping with products that aren't taxed at all removes all taxes from cart"
Say that there are two products.  One is taxed only on shipping and one is not taxed at all.  When both are added to the same cart and shipping is selected, no tax will be applied.

**Steps to Reproduce**
* Create a product for $0 and set it to be taxed only on shipping.
* Create a second product for an amount like $10 and set its taxes so it isn't taxed.
* Add the $0 to the cart and enter an addr

[2021-12-14 18:55] waclawjacek commented on #2505
Can we get someone with an actual label printer to test out both 72 DPI and 300 DPI?

[2021-12-14 19:37] waclawjacek commented on #2511
It seems that there were some support tickets created after the server-side fix was deployed. @frosso, do you have any idea why this might have been the case?

[2021-12-14 20:01] frosso commented on #2511
@waclawjacek I'm not 100% sure, but looking at the dates on the tickets it seems they were created when the issue was present (and reported later)?

[2021-12-14 20:13] waclawjacek commented on #2511
Awesome, thank you! I am marking this ticket as high priority rather than critical as the changes have been reverted.

[2021-12-15 14:59] dustinparker commented on #2495
Hi all, as we weren't able to replicate the issue and haven't heard anything in a while, we'd like to go ahead and close this issue out. Please feel free to reopen if needed.

[2021-12-15 14:59] #2495 closed, assigned to dustinparker

[2021-12-16 14:31] waclawjacek commented on #2505
I have looked into this and discovered the following:

In all tests the paper size is set to Legal. I think this issue doesn't happen on all paper sizes but it does on this one.

**Printing on Chrome**

![Chrome Production](https://user-images.githubusercontent.com/1759681/146391802-8936167f-d788-4a0a-893e-c84db9609ccc.png)

**Printing on Firefox**

![Firefox Production](https://user-images.github

[2021-12-16 18:02] harriswong commented on #2505
Should we also respond to the forum (https://github.com/Automattic/woocommerce-services/issues/2505#issuecomment-984831461) so that they know this is reverted? The authors probably need to undo the work-around they did.

[2021-12-16 18:06] waclawjacek commented on #2505
We should post an update there but I don't think reverting this will disrupt the workarounds in the forum thread - it looks like one was to set the page size to "Fit" and another was to open PDFs in Adobe's client.

[2021-12-16 23:02] phillipcornwell commented on #2505
33003534-hc
4618695-zd

[2021-12-17 07:29] waclawjacek commented on #2505
A fix has just been deployed on the Connect Server so merchants should not experience this issue anymore. We will be working to resolve the blurry printouts on Zebra printer issue but in the meantime, label printing should be back to the previous state.

[2021-12-17 07:30] #2505 closed, assigned to nobody

[2022-01-17 19:32] csmcneill opened #2518 "Tax rates for Kenai, Alaska, USA are above maximum tax rate limits"
### Issue

Tax rates in Kenai, Alaska, USA, are limited in a unique way. Customers are charged on the first $500 of a purchase or $15.00. When using WooCommerce Tax, the tax applies to the whole purchase, and customers in Kenai are charged higher than the limit.

Additionally, the tax rate should be 3%.

### Expected Results

Customers charged tax in Kenai, Alaska, are only charged a 3% on the fir

[2022-01-18 12:56] #2511 closed, assigned to dustinparker

[2022-01-18 13:10] bbrink-MN commented on #2518
To clarify, WooCommerce automated taxes uses 3% as it should, but only if the customer enters in full 9 digit zip code. This is the way it must be, as parts of the 5 digit zip are in the city and subject to different rate.

[2022-01-24 12:16] superdav42 commented on #2518
We recieved a response from TaxJar:

Unfortunately I think this means there's nothing we can do from the WCS&T plugin. If TaxJar ever implements support for these It will probably just start working automatically.

I'm going to close this issue but feel free to open it if there's new information.

[2022-01-24 12:16] #2518 closed, assigned to nobody

[2022-01-26 19:45] gabrielbonifacio opened #2519 "Manual tax for California added to Standard rates when entering a CA shipping address"
### Describe the bug:

If you have a tax nexus outside California, but enter a California shipping address on the Checkout, the following will happen:

- Taxes are calculated either way on the Checkout, even though you don't need to collect tax on California
- When you go to **WooCommerce > Settings > Tax > Standard rates**, a manual CA rate have been added there.

Even if you delete that tax, it

[2022-01-26 21:00] darcie commented on #2519
4723579-zen

I can't find any changes to California taxes for 2022 that would cause the change, and https://developers.taxjar.com/demo/ doesn't show taxes calculating for shipping to California when the store location is elsewhere.

<img width="1423" alt="Markup 2022-01-26 at 12 56 00" src="https://user-images.githubusercontent.com/318285/151245584-a2cd0ec3-0ca2-438b-9423-b4a90bd1e83b.png">

I can

[2022-01-26 22:56] namiokuzono commented on #2519
4723901-zen 33535695-hc

[2022-01-27 01:07] AashikP commented on #2519
Another report in 4716415-zen

[2022-01-27 19:23] thracefulton commented on #2519
Another instance in 31708028-hc. Tax nexus is in FL. The issue began on Monday Jan 24th for them.

[2022-01-27 19:47] chrism245 commented on #2519
Another report 22127360-hc, they didn't have problems before Jan 25th.

[2022-01-28 02:05] nicdwilson commented on #2519
4727547-zen.
WA based site now collecting taxes for WA and CA. Replicated on a clean staging environment.

[2022-01-28 05:04] AashikP commented on #2519
More reports in

4727272-zen
4727288-zen

[2022-01-28 12:45] #2514 closed, assigned to iyut

[2022-01-28 17:14] tijosh commented on #2519
33911642-hc

[2022-01-28 17:18] sebastiank112 commented on #2519
I'm noticing same issue with AZ > CA orders.

[2022-01-28 18:16] shaunkuschel commented on #2519
Another report in 4726410-zen (WA-based site, taxes collected for CA orders)

[2022-01-28 19:15] frosso commented on #2519
It looks like the issue was caused by some API misconfiguration, which is now resovled.
While we investigate this further to prevent additional cases, we recommend going into the WooCommerce settings and manually removing misconfigured values for "US-CA".

This can be done by going into **WooCommerce > Settings > Tax > Standard tax rates**.
On that page, you can select all the "US CA" tax lines, c

[2022-01-28 20:43] gabrielbonifacio commented on #2519
@frosso In my tests, deleting the rate didn’t work. It would be re-added as soon I as entered a California address again on the Checkout or Cart.

As I workaround, I tried to manually add a tax of 0% for California. That rate got replaced by the plugin as well.

[2022-01-28 20:49] jcolombo12350 commented on #2519
Yes, as soon as someone checks out with a California zipcode, taxes are applied on the checkout page, and a new CA tax rate is added in the 'Standard Tax Rate' page.
This scenario keeps repeating itself.

[2022-01-28 21:07] darcie commented on #2519
@gabrielbonifacio That was the case before the adjustment to our API. With the change made today, that should not happen any longer. Are you still seeing that occur?

[2022-01-28 21:34] thracefulton commented on #2519
In order to prevent future occurrences, please do the following:

1. Navigate to WooCommerce > Settings > Tax  and click `Standard Rates`
2. Select any rows with **State Code** of `CA` (hold the `Shift` key to select more than one at a time)
3. Click the `Remove selected row(s)` button at the bottom of the rate table.

Now that we’ve removed the source of those tax rates being added and applied, a

[2022-01-28 21:44] jcolombo12350 commented on #2519
Everything is now working correctly.
Thanks for your help. It was very much appreciated...

[2022-02-02 08:58] WillBrubaker opened #2520 "Can some kind of logic be added to prevent unnecessary shipping method calculations?"
Can this bit of code: https://github.com/Automattic/woocommerce-services/blob/1.25.21/woocommerce-services.php#L1095-L1128 be wrapped in conditional logic so it doesn't run if the order doesn't require shipping?

I've got an issue open for USPS here: https://github.com/woocommerce/woocommerce-shipping-usps/issues/344  The fatal is happening in USPS, but the order in question doesn't require shippi

[2022-02-02 12:26] waclawjacek commented on #2520
Thanks for the report, @WillBrubaker! Is the fatal also thrown in WCS&T or is something else happening?

[2022-02-02 19:57] WillBrubaker commented on #2520
@waclawjacek I don't think the fatal is thrown in WCS&T

[2022-02-02 20:34] frosso opened #2521 "Add ability to detect automatically-inserted tax rates"
## Description
What is the best way to ensure we can "detect" the tax rates rows that have been automatically added by the WCTax plugin?
It would be great if we could detect them so that they could be easily identified.

[2022-02-03 08:09] waclawjacek commented on #2521
Please take into account they may later be manually changed by merchants - we should be able to detect this.

[2022-02-04 12:15] waclawjacek commented on #2520
I see, thanks, @WillBrubaker! For the person who starts working on this: could you please look into if the same thing that happens in the USPS extension also happens in WCS&T? Since this does not seem to happen in WCS&T, I'm assigning low priority to the issue.

[2022-02-07 22:14] frosso opened #2523 "Tax rates backup before CA taxes deletion"
## Description
Discussed here: https://github.com/Automattic/woocommerce-services/pull/2522

Before deleting the CA tax rates, backup all the tax rates in the table to a CSV file.

We can extract the `WC_Connect_TaxJar_Integration->backup_existing_tax_rates()` method in a separate class (without the `TRUNCATE`) so that it can be shared.

[2022-02-08 12:55] #2523 closed, assigned to dustinparker

[2022-02-10 16:14] dustinparker commented on #2426
Hey everyone, because this isn't really a bug and the functionality makes sense from a customer's point of view (not seeing updated tax or shipping amounts until one enters a shipping address), and because there is only one ticket that has reported this, we'd like to go ahead and close out this issue for now. Please feel free to reopen again if needed.

[2022-02-10 16:14] #2426 closed, assigned to dustinparker

[2022-02-10 22:22] csmcneill opened #2526 "`Bad Request child "destination" fails because ["company" is not allowed] ( 400 )` error with version 1.25.23"
### Issue

When attempting to purchase a label in version 1.25.23, the following error is seen:

[code]

Reverting to version 1.25.22 resolves the issue

### Steps to Reproduce

1. Install [WooCommerce Shipping & Tax](https://woocommerce.com/products/shipping/?aff=10486&cid=1131038) on an AT site
2. Make a purchase.
3. Attempt to purchase a shipping label.
4. See error.

### Screenshots

<img widt

[2022-02-10 22:29] csmcneill commented on #2526
In 33942476-hc, reverting to 1.25.22 resolved the issue. Last I checked, 34134585-hc was having issues reverting.

[2022-02-10 22:34] harriswong commented on #2526
👀

[2022-02-10 22:35] harriswong commented on #2526
This server that's responsible for validating addresses also needs to be updated. Proceeding to update the backend server.

[2022-02-10 22:38] harriswong commented on #2526
🚀  Updated the server. The issue should be fixed. Please re-open the ticket otherwise! Thanks!

[2022-02-10 22:38] #2526 closed, assigned to harriswong

[2022-02-10 23:47] apmwebdev commented on #1226
Another report in 4763290-zd-woothemes.

[2022-02-16 01:53] shaunkuschel opened #2527 "Unable to scroll/see label purchase info after expanding multiple sections"
During the label purchase flow, if multiple sections are expanded and the label data is pushed below the bottom of the viewable area, some label info may not be visible even after minimizing some of those sections. This appears to be a CSS issue with the div, as it's already at the bottom of the page and appears to have this issue because there is no inner padding.

Video showing this behavior:

h

[2022-02-17 00:37] thelogicwizards commented on #2249
Here's a case of this, also: 4784459-zd-woothemes

This is a merchant based in Milan, Italy. They are returning rates for Berlin, Germany zip codes `10178` & `10015` at 22% instead of the 19% suggested by the TaxJar calculator.

[2022-02-17 17:53] King-Rings opened #2528 "Auto-trigger of print dialog is an issue"
The most recent version of WooCommerce plugin (6.2.0) introduced an annoying glitch while purchasing and printing shipping labels. It looks to me like the devs were trying to improve a feature but missed the mark. I'd like to provide some end-user feedback on how this change effects my UX in the browser of my choice. Please see screen recording at [https://kingrings.com/downloads/PrintDialogIssue.

[2022-02-18 10:56] iyut commented on #2520
Hi, I tried running some tests on WCS&T by creating an order with virtual product only. And after running a couple of tests, I don't see any fatal error nor any warning when I looked into debug.log.

I think one way to make sure if the order require shipping is by checking on `WC_Order::get_shipping_methods()` return value. if it does not return an empty array, then I believe the order is require

[2022-02-21 17:07] csmcneill commented on #2528
We may have a similar issue in 4799644-zen where the merchant cannot print directly from their browser—instead, they have to send the label to a different program, and then print their label from there.

[2022-02-23 16:06] thuautp opened #2529 "Tax rate being calculated for Italian merchant instead of German customer"
4784459-zen

The customer is based in Milan, Italy and their AT site seems to be pulling incorrect tax rates for Berlin, Germany zip codes 10178 & 10015, displaying taxes at 22% when it should be 19%, based on TaxJar.

Screenshot:

![https://d.pr/p3qTf3](https://d.pr/p3qTf3+)
Full Image [here](https://d.pr/p3qTf3+)

The plugin seems to be returning Italian tax rate instead of German tax rate. Howe

[2022-02-24 00:34] frosso commented on #2519
I'm closing this for now.

The API  configuration has been adjusted.
We added a store notice to alert merchants that might have been impacted by the issue. The notice links to the documentation.
We updated the documentation with steps the merchants can follow on how to mitigate the issue: https://woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-tax/#jan-2022-ca-notice
We added a t

[2022-03-01 21:05] rashedripon commented on #2528
4819851-zen reported the same. Print didn't work on Chrome. Firefox works but first the label needs to be saved as a PDF.

[2022-03-03 02:07] AashikP opened #2530 "WooCommerce Blocks support - automatically update shipping rates/methods"
## Describe the bug
If you update the items on the cart page *([WooCommerce Blocks](https://woocommerce.com/products/woocommerce-gutenberg-products-block/?aff=10486&cid=1131038))*, you'll need to reload the page to view the shipping rates (**Legacy USPS live rates**) from [WooCommerce Shipping & Tax](https://woocommerce.com/products/shipping/?aff=10486&cid=1131038).

## To reproduce
Steps to repro

[2022-03-04 09:31] sverleis opened #2531 "BUG: TAX: Florida sales tax on shipping if NO local delivery is available."
We have [a forum user](https://wordpress.org/support/topic/tax-shipping-cost-in-florida/#post-15422906) who's nexus is in Florida. For shipping, tax should be added if there is **no option given** to pick up locally. Automated taxes always defaults to no shipping tax.

https://wordpress.org/support/topic/tax-shipping-cost-in-florida/#post-15422906

Is there a way of allowing this specification int

[2022-03-04 20:22] nicholasjeberlin commented on #2360
34371712-hc

[2022-03-07 09:53] waclawjacek commented on #2520
Hmm, I see there is already a call to `$packages = WC()->cart->get_shipping_packages()`. Does this function maybe also do what you mentioned? If so, we might not have to do anything after all - if it returns an empty array, the `foreach` will not execute.

[2022-03-07 15:43] conschneider opened #2532 "Tax rounding product level / order level values in API response do not match."
### Scenario:

**Reference**:

p1646429372430319-slack-C7U3Y3VMY
Ticket: 4832766-zd-woothemes

* Some states like the state of New York, require tax on an order level.

![](https://i.snipboard.io/sUEbYp.jpg)
Image Link: https://i.snipboard.io/sUEbYp.jpg

* Currently the tax jar API only provides tax calculation on a product / line item level.

An example:

![](https://d.pr/i/2yRS27+)
Image Link: h

[2022-03-07 16:52] frosso commented on #2532
Emailed TaxJar, waiting for a response.

[2022-03-09 05:42] iyut commented on #2520
I checked the `WC()->cart->get_shipping_packages()` function. It seems the function will always return an array based on this [line](https://woocommerce.github.io/code-reference/files/woocommerce-includes-class-wc-cart.html#source-view.1494). Unless someone desperately change the return value into another variable type using `woocommerce_cart_shipping_packages` filter ( which is IMO unlikely going

[2022-03-09 21:39] berzley commented on #2520
Experiencing this issue on a `virtual` product variation ( other variations require shipping ).

In the process of trying to troubleshoot out third-party plugins. Confirmed no in-house custom theme or plugins containing conflicting code.

#### Site Info:
[code]

[2022-03-10 04:42] iyut commented on #2520
Hi @berzley , thank you for reporting this. Is there any step that I can follow to replicate the issue?

[2022-03-10 18:59] frosso commented on #2532
The TaxJar support replied:

We explain this in [more detail here](https://support.taxjar.com/article/1006-taxjar-api-rounding-during-calculations).

[2022-03-11 14:35] berzley commented on #2520
@iyut With the above environment I created a new product, checked "virtual" and "downloadable", and gave the product a sku value. Then adding the product to cart, proceeding to checkout, and then finally checking out. At checkout, after selecting payment option (paypal in my case) before payment processes the internal server error happens.

I repeated the steps again, but this time only selecting

[2022-03-11 16:52] barryhughes opened #2535 "Create international shipping label shows incorrect customs value (shows foreign currency value as USD value)"
💡 This was originally logged in the WooCommerce Core issue tracker [(WC#31830)](https://github.com/woocommerce/woocommerce/issues/31830). It can't be transferred directly (different GitHub orgs) so I'm moving it across manually on behalf of the original reporter @bloukingfisher.

---

The purchased shipping label for an international order that used the local currency displays the local currency v

[2022-03-11 22:27] frosso commented on #2535
Merchants have the ability to edit the customs form information (and the items' values) on the "Customs" step, when creating a shipping label.
<img width="1153" alt="Screen Shot 2022-03-11 at 4 25 23 PM" src="https://user-images.githubusercontent.com/273592/157981302-3a6c5778-d5eb-4f8a-9109-9f6607db4a5f.png">

Unfortunately, we don't have a way to convert amounts between currencies for the customs

[2022-03-12 17:20] frosso opened #2536 "Remove `colors` package"
## Description
Background: p6jPRI-5cd-p2

Some time ago, the author of some popular npm packages [Marak](https://href.li/?https://www.npmjs.com/~marak) decided to delete some packages they authored. To prevent future incidents, let's see if we can find an alternative.

It looks like this package is only used in the `tasks/release.js` task.
Maybe it can be as simple as finding an alternative packag

[2022-03-15 09:49] iyut commented on #2520
Hi @berzley , I've tried to replicate the issue on several PHP version ( 7.4, 8.0, 8.1 ). But still I seems cannot replicate the issue with both WC Shipping and Tax and WC Shipping USPS installed. Do you mind to test if the issue still remains if WC Shipping and Tax plugin is deactivated?

[2022-03-15 11:30] #2527 closed, assigned to dustinparker

[2022-03-15 20:17] berzley commented on #2520
Hey @iyut, I found my solution.

tldr; downgrading PHP to 7.4 solved the issue

I did send a support message to WooCommerce support for the USPS shipping method and referenced this issue.

If I deactivate either WC Shipping and Tax or WC Shipping USPS (while leaving the other active or deactivating both) the virtual products work.

Additionally, I did a direct copy of the site and ran it in my loc

[2022-03-15 20:39] berzley commented on #2520
The issue is 100% in WC Shipping USPS.
As of 8.0 `sizeof` or `count` throws a `TypeError` if the value isn't countable. Looks like `$this->items` never gets initialized in this case.

[2022-03-16 06:44] iyut commented on #2520
Thanks for the confirmation @berzley , since this is a WC Shipping USPS issue, should we move the discussion to [this USPS issue #344](https://github.com/woocommerce/woocommerce-shipping-usps/issues/344) ? Also, can you confirm if [this solution](https://github.com/woocommerce/woocommerce-shipping-usps/issues/344#issuecomment-1027736806) works for you?

[2022-03-16 12:30] berzley commented on #2520
@iyut Is it possible to get added to that repo? It's private.

[2022-03-16 17:23] darcie opened #2537 "When a non-taxable item is in the cart first, added taxable items are not taxed."
Related to #2514 likely.

**Steps to Reproduce:**

1. Create a product that is not taxable and a product that is taxable
2. Add the non-taxable item to the cart
3. Add the taxable item to the cart
4. Use an address that falls within the tax nexus
5. The total tax is zero
6. An error is logged ` Error retrieving the tax rates. Received (406): {"status":"406","error":"Not Acceptable","detail":"line_

[2022-03-17 05:15] iyut commented on #2520
Oh, sorry about that @berzley. There is a solution that might fix the issue in that USPS thread.
Can you try to apply this condition below in `includes/box-packer/class-wc-boxpack.php` on line 114.

[code]
or probably this one is simpler :
[code]
See if one of those will fix the error issue.

[2022-03-17 06:12] #2528 closed, assigned to iyut

[2022-03-17 21:27] hmadisonturner commented on #2537
This is due to the `array_filter()` call in #2516 returning a sparse array, which is then encoded as an object by `wp_json_encode( $body )`. Wrapping the `array_filter()` call in `array_values()` fixes it, but it feels gross.

[2022-03-18 19:13] darcie commented on #2537
Another example in 4863532-zen

[2022-03-20 15:48] devvnawaz commented on #2537
Reported in 4876335 - Zen

[2022-03-21 20:38] berzley commented on #2520
Both of those work.

Also this would work
[code]

I believe initializing `$this->items` would work too
[code]

[2022-03-22 06:28] #2537 closed, assigned to iyut

[2022-03-22 19:19] csmcneill commented on #2520
4859962-zen

[2022-03-23 05:08] khalnayak-cmd commented on #2247
why this issue isn't solved and mark this thread as closed?

[2022-03-25 03:50] #2530 closed, assigned to iyut

[2022-03-26 09:06] drwpcom commented on #1654
Other cases in 4825848-zen, 4307382-zen. We also have questions about this on the forums.

The issue seems specific to Quebec. Both federal and provincial taxes are charged for British Columbia, Saskatchewan, Manitoba.

[2022-03-29 04:46] AashikP commented on #1226
Another report in 4901854-zen.

This is specific to what @apmwebdev clarified here: https://github.com/Automattic/woocommerce-services/issues/1226#issuecomment-773593439

[2022-03-29 07:50] RSalo opened #2540 "Same shipping amount for different tax rates"
Hi. Couldn't find similar behaviour for shipping amount https://github.com/woocommerce/woocommerce/wiki/How-Taxes-Work-in-WooCommerce#prices-including-tax---experimental-behavior
Any workaround for this case? Thanks!

[2022-03-29 20:45] JSdesigNerd commented on #1226
notes on #4901854 - Store physical location is in Pennsylvania where both food products are not taxable and shipping on non-taxable products is also not taxable. Currently (at least since a recent set of updates). The issue is that while the products remain untaxed, woocommerce is adding tax applied to the shipping but it appears only for deliveries IN Pennsylvania. Not sure if this is specific on

[2022-03-30 06:16] iyut commented on #2520
Hi @berzley , USPS Shipping method version 4.4.70 has been released. It includes the fixes for `sizeof()` issue on PHp 8.0.15. Can you try to update your plugin and confirm if it fixes the issue?

[2022-04-05 14:44] dustinparker commented on #1654
Hey everyone, just a quick update:

I've done some digging into this and it appears to be an issue on TaxJar's end. I've tested the API externally and get the same result, so it doesn't looks like it's caused by WC Shipping & Tax.

I've opened a ticket with TaxJar explaining the issue and will hopefully hear back from them soon. I'll keep you posted.

[2022-04-08 07:54] #1654 closed

[2022-04-08 14:35] berzley commented on #2520
@iyut Tests passed great and the client confirms the features are all working for them again with the this update.
Thanks!

[2022-04-11 04:28] iyut commented on #2520
Thanks for the confirmation @berzley !

Since the issue is from WC Shipping USPS ( [confirmed](https://github.com/Automattic/woocommerce-services/issues/2520#issuecomment-1068446946) by @berzley ) and we will not do anything on WC Services for this issue ( at least for now ), I will close this issue. Please feel free to re-open the issue if someone encounter this issue on WC Services.

[2022-04-11 04:28] #2520 closed, assigned to iyut

[2022-04-15 20:46] waclawjacek opened #2543 "Reduce number of tax rate requests"
Our tax API endpoint is currently receiving a lot of `404` requests. It seems like these could be greatly reduced by the use of appropriate caching.

[Here is the method call](https://github.com/Automattic/woocommerce-services/blob/47ab8331da19b100f9a8b01e37546b9b9ad2f697/classes/class-wc-connect-taxjar-integration.php#L1021) where the extension decides whether to use a cached response or make a n

[2022-04-20 10:43] brettshumaker opened #2544 "Investigate issues related to taxed vs. untaxed shipping based on cart items."
It seems there are at least a few open issues related to errors in how shipping is taxed (or not) based on cart contents and various states' rules about tax on shipping services.

There was a recent report that if the user's store is based in PA, the cart contains a non-taxable product, and the customer is shipping to PA, there is tax incorrectly charged for shipping. [Pennsylvania law](https://ww

[2022-04-21 14:51] JSdesigNerd commented on #2544
More specifically it appears (as of 4/21/22) based on link I will provide that if a checkout contains taxable and tax-exempt items that sales tax should be provided proportionally to those taxable items. So if 65% of the order total is taxable, 65% of the shipping will also be taxable. My understanding is that is applied by cost, not weight or other factor.

Here is a link to the PA DOR website -

[2022-04-21 22:10] csmcneill commented on #2544
This issue is also occurring with some ZIP codes in Washington state.

Identified in 4965394-zen

[2022-04-25 09:24] #2543 closed, assigned to iyut

[2022-04-25 13:10] iyut commented on #2544
Hi @csmcneill , does the Washington state have the same shipping tax rule as Pennsylvania? The reason I ask is because I don't have the access to 4965394-zen.

[2022-04-26 05:47] iyut commented on #2544
Hi @brettshumaker  @JSdesigNerd @csmcneill, I have created a potential fix for the issue in this [PR](https://github.com/Automattic/woocommerce-services/pull/2546). Can someone on your end review and test the PR to confirm we fixed the issue? We have already done an internal review but we figured it would be a good idea to have another pair of eyes on this one.

[2022-04-27 00:58] JSdesigNerd commented on #2544
Hello @iyut - appreciate the work. I am unfamiliar with the process of testing a "PR" but would do anything I can to help out and be a part of the solution. If you can point me in the right direction I may be able to to review it though I have no dev sandbox per sé for this website. If I can be of assistance please let me know and thank you for working to solve this.

[2022-04-28 19:08] JSdesigNerd commented on #2544
Please forgive my lack of github dev fluency but I'm not sure if I'm expected to be doing anything to move this forward or if simply keeping an eye on it is enough. Please let me know if there is anything I can do to assist.

[2022-04-29 08:41] drwpcom commented on #2544
@JSdesigNerd You can ignore this ping and we'll do some testing internally.

[2022-05-01 15:15] csmcneill commented on #2544
Howdy @iyut! I tested this on my end and it looks good!

[2022-05-03 09:36] #2544 closed, assigned to iyut

[2022-05-03 21:40] FangedParakeet commented on #2360
Added to the Fulfill Codeable query queue.

[2022-05-04 04:35] namiokuzono commented on #1625
5179905-zen

[2022-05-04 04:39] namiokuzono commented on #1625
@FangedParakeet Could you please take a look at this issue and revisit when you have a chance? I see that the tag has been changed from Bug to Enhancement 2 years ago.

Currently referred in this thread: p1651638028309889-slack-C7U3Y3VMY

[2022-05-04 07:23] dustinparker commented on #2360
@nicholasjeberlin is this still an ongoing issue with 34371712-hc?

[2022-05-04 21:33] frosso opened #2547 "Notice: Undefined index: `from_country` in `class-wc-connect-taxjar-integration.php:1187`"
## Description

The issue seems to be happening at checkout since the last update on v1.25.27.
Possibly related to changes in https://github.com/Automattic/woocommerce-services/pull/2545

Report: https://wordpress.org/support/topic/error-message-showing-on-checkout-page-since-last-update/

[2022-05-04 21:42] recyborg commented on #2547
Hi im the one experiencing problem with this. Also noticed that it loads forever now when changing shipping option on the checkout page. Thanks

[2022-05-04 22:10] FangedParakeet commented on #1625
I've added this to Fulfill Codeable's work queue.

I think a good goal here to resolve this issue would be to warn customers that they are entering an address containing unicode characters that may not be presentable on a printed label and perhaps to offer the closest transliteration that we are able to muster as a compromise. It looks like this is definitely an issue for USPS labels, but likely w

[2022-05-09 10:18] iyut commented on #2547
Hi @recyborg , can I confirm that the issue exists when shipping address is set to Quebec, Canada?

[2022-05-09 22:30] csmcneill opened #2548 "Add-On Purchase for First Class Envelope Tracking"
[First Class envelopes are not eligible for tracking](https://woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-shipping/#:~:text=USPS%20First%20Class%20Mail%20is%20an%20untracked%20service%2C%20meaning%20that%20USPS%20won%E2%80%99t%20give%20anyone%20(not%20even%20us)%20tracking%20data%20on%20the%20movement%20of%20First%20Class%20Mail%20envelopes%20(including%20Large%20Envelope/Fla

[2022-05-09 22:48] csmcneill commented on #2548
5202178-zen / 35435834-hc

[2022-05-10 07:58] #2547 closed, assigned to iyut

[2022-05-16 19:21] nicholasjeberlin commented on #2360
Hi @dustinparker,

Sorry for just seeing this. I've created a follow-up to inquire if their client is still running into the issue 5219500-zen.

[2022-05-17 05:05] thisissandip commented on #2360
Another: 5220024-zen

Asked them to test using the recent version of the plugin

[2022-05-17 08:46] thisissandip commented on #2360
Another one: 5218847-zen

Host: BlueHost

Error logs:

[code]

I found the curl 28 error on JP debug:

[code]

I have asked them to reset JP connection. @dustinparker can you please check this and let me know what should be the next step?

---

Also, the users from the above tickets ( 3790710-zen & 3765612-zen ) followed up and mentioned that conflict testing does not solve the issue.

[2022-05-17 09:22] joshheald opened #2550 "Tax configuration leads to excessive price precision for line_items in Orders REST response with coupons"
## Description
Under particular tax configurations, in combination with a coupon, the `line_items` in the `/orders/` and `/orders/{id}/` responses have excessively precision on fields such as `price`. This has led to issues refunding orders based on these values, as often they are slightly higher than the order total.

These fields are more currency-like when the settings are different, or when no

[2022-05-17 13:36] thisissandip commented on #2360
Looks like this issue is being handled by JPOP: p1652793128502319-slack-CB37YNEH1

[2022-05-19 05:49] dustinparker commented on #2360
@thisissandip is the curl error happening every time on those 4 sites, or just occasionally? Are they able to get label rates and print labels at all? Are they all on Bluehost?

Could you share the WC system reports for the 4 tickets you mentioned? I don't have access to the tickets so can't see what the merchants have shared.

[2022-05-19 07:06] dustinparker commented on #2550
Hi @joshheald,

I did some digging into this issue. I tested with WC Shipping & Tax, but also tested with just WooCommerce and am getting the same results. The issue appears to be a rounding issue coming from the WooCommerce plugin itself when calculating the cart totals. Could you please copy the issue details you provided into a new issue (assuming there isn't already an open issue on this topic

[2022-05-19 07:06] #2550 closed, assigned to dustinparker

[2022-05-19 09:50] dustinparker commented on #2531
Hi @sverleis, unfortunately there is no way to do this via the admin settings.

I did some digging to see if there are any filters the merchant could use to override the TaxJar response before it's added to the database, but there are none. We'd have to add a special handling case for Florida to add the shipping tax to TaxJar's rates in the case where "local pickup" isn't an option.

[2022-05-20 16:04] waclawjacek opened #2553 "Automated tax, local pickup, and WC Blocks incompatibility"
First reported in 5201333-zd-woothemes.

When using the following setup, there is an issue with calculating tax for an order. The issue is that the tax is displayed throughout the checkout until the "Order received" page it is missing from.

When visiting the Edit Order page, the tax name is there but the tax is not applied to the order.

This issue is not present when using the shortcode but I am

[2022-05-21 16:07] NathalyaVides commented on #2553
Customer included additional details to replicate the problem:

_The issue is when my customer enters an out-of-state shipping address and selects local pickup because they are working in Los Angeles.

The local pickup option, from what I see using the shortcode, takes priority over the shipping address._

[2022-05-22 14:53] rashedripon opened #2554 "Error 500 message when updating origin address"
Description of the bug:

When a merchant tries to update the origin address during creating the label it throws this error message:

`
Error validating origin address: Error: The WooCommerce Shipping & Tax server returned: Internal Server Error An internal server error occurred ( 500 )
`

How to reproduce:

- Open an order
- Click on "Create shipping label"
- Try to change or update the origin add

[2022-05-23 09:15] dustinparker commented on #2531
Hey @sverleis, just wanted to let you know we've created a fix for this which will hopefully be available in the next release.

[2022-05-25 08:06] dustinparker commented on #2553
@waclawjacek I looked into this a bit and also tested without WCS&T and am getting the same results. This appears to be an issue with the Store API (maybe caching?). I didn't dig too much deeper since it's not really our jurisdiction. Let me know if you'd like me to look into this further or if we can close this out.

[2022-05-25 12:47] #2531 closed, assigned to dustinparker

[2022-05-25 13:52] frosso opened #2556 "E2E Tests failing on WC Services PRs"
## Description

We've been experiencing a failure on the E2E tests for WC Services PRs. Please look into this and see if you can find what's causing the failure. Here is the debug output from one of the failed attempts:
[code]

[2022-05-27 06:38] kaushikasomaiya commented on #2554
5248424-zen

`/shipping/address/normalize` API endpoint returning 500 Internal Server Error on validation of certain addresses.

Example: Test, Test, Chicago, Illinois, 60647 (Use this as destination address)

Workaround - Use `Use address as entered` option.

[2022-05-29 15:53] amElnagdy commented on #2554
I got this error too and was coming here to check if it was reported. Additionally, this is the error under WooCommerce → Status → WooCommerce Shipping & Tax → Other Log

`wcc_server_error_response Error: The WooCommerce Shipping & Tax server returned: Internal Server Error An internal server error occurred ( 500 ) (WC_REST_Connect_Address_Normalization_Controller)`

[2022-05-30 07:29] dustinparker commented on #2428
hey @WillBrubaker, I've done some testing from a BC address to an Alberta address and everything appears to work correctly as long as the grocery product has a tax class of "Zero Rate" and a tax status of "Shipping Only". Could you please confirm that the merchant has the following settings on their grocery products:

![screenshot-localhost_8050-2022 05 30-09_23_41](https://user-images.githubuserc

[2022-05-30 07:36] dustinparker commented on #2360
hi @thisissandip, just wanted to follow up and see if we can get the information requested in [the last comment](https://github.com/Automattic/woocommerce-services/issues/2360#issuecomment-1131238519). Please let me know when you get a chance, thanks!

[2022-05-30 09:27] waclawjacek commented on #2553
Thank you! I have cross-posted this issue to the Blocks repo.

[2022-05-30 10:54] thisissandip commented on #2360
Hey @dustinparker, thanks for following up! It turned out to be an issue with Bluehost blocking Jetpack's IP. The merchants from the above tickets followed up that this is now fixed.

[2022-05-30 10:59] dustinparker commented on #2360
ok, glad to hear it! Thanks for the update. I'll go ahead and close this out as it seems that it is not an issue with the WC connect server itself.

[2022-05-30 10:59] #2360 closed

[2022-05-30 11:03] dustinparker commented on #2553
I'll go ahead and close this issue out since it appears to not be caused by the WCS&T extension. Feel free to reopen if needed.

[2022-05-30 11:03] #2553 closed, assigned to dustinparker

[2022-05-30 19:49] waclawjacek commented on #2554
Thank you for the report! Is there any specific input that can be used to reproduce this issue? Sharing via a Slack DM is OK.

[2022-05-31 01:03] #1625 closed

[2022-05-31 04:33] #2274 closed

[2022-06-01 04:07] WillBrubaker commented on #2428
From the ticket:

[2022-06-01 13:47] dustinparker commented on #2428
I haven't been able to replicate this issue and it seems the tax is correctly being applied to shipping for grocery items (tax status = shipping only). I'll go ahead and close this issue out, but if the issue persists for ticket 4026754-zen please feel free to reopen.

[2022-06-01 13:47] #2428 closed, assigned to dustinparker

[2022-06-02 11:48] iyut commented on #2249
Hi @jessepearson @thelogicwizards  , I did some digging and testing for this issue. And it seems the plugin does using whatever value that TaxJar returning, and the plugin doesn't manipulate any tax rate from TaxJar. And in order for the user to be able manipulating the tax rate value, we will need to add a filter around [this line](https://github.com/Automattic/woocommerce-services/blob/552b261e5

[2022-06-02 22:51] frosso commented on #1135
Since the designs have changed since the creation of this ticket, I'm going to close it to clear the backlog a bit to reduce confusion.

[2022-06-07 20:13] dustinparker commented on #2554
Hey everyone,

I believe this issue is related to [WC Connect Server Issue 1931](https://github.com/Automattic/woocommerce-connect-server/issues/1931) and has been fixed by [this PR](https://github.com/Automattic/woocommerce-connect-server/pull/1932). I just tested again to double check that this 500 error is no longer happening during address normalization and everything works without errors for

[2022-06-07 20:13] #2554 closed, assigned to dustinparker

[2022-06-09 09:08] waclawjacek commented on #2249
That is definitely a good solution! However, IIRC as I was digging into that on a different occasion, WCS&T will always save the rates from TaxJar using the same, predictable format for each data column, including priority.

So if I create a custom rate for a specific row and give it a higher priority (in this example: 100; this is the opposite of what is considered "higher priority" in WP filters

[2022-06-09 10:45] iyut commented on #2249
Thanks, it's good to know this! I did some test by adding new row of tax with different priority to confirm this :
![image](https://user-images.githubusercontent.com/631098/172827291-cd6bf1a8-9e3b-48df-87e1-cbc660f3fb8d.png)

The custom rate is adding the tax value to TaxJar rate value. So if I have TaxJar rate 22% and I add new custom rate 22%, the **total tax will be 44%**.

The tax value only f

[2022-06-09 12:13] waclawjacek commented on #2249
To automatically provide a user interface for users, what do you think about doing something a bit different and adding a custom tax class that WCS&T could be writing to instead of the "Standard" tax class, and then if a matching tax is found in the Standard class, use that but otherwise, use the rate from the "Automated" class?

The opposite could also be done - keep WCS&T writing to "Standard" b

[2022-06-09 14:44] helgatheviking opened #2559 "Install Jetpack prompt returns [Object Object]"
I activated the plugin and saw the prompt at the top to install Jetpack. So I clicked the button to install Jetpack and then the button displayed this [Object Object] text where a button is meant to be.

![image](https://user-images.githubusercontent.com/507025/172875340-c240da9f-e9b5-42fa-924f-67e8b1e191d0.png)

[2022-06-09 14:53] frosso commented on #2559
I just tried to reproduce this situation with both the version of the banner that asks to "connect" and the version that asks to "install" Jetpack, but everything worked well for me after clicking the button
![Screen Shot 2022-06-09 at 9 50 27 AM](https://user-images.githubusercontent.com/273592/172877173-e9408e02-6971-4fa7-b787-5c1a2875efa0.png)
![Screen Shot 2022-06-09 at 9 50 13 AM](https://use

[2022-06-09 15:09] helgatheviking commented on #2559
I installed it locally just after this and did not get the `object` thing again either.... 🤷‍♀️

always +1 for improved error handling :)

[2022-06-10 08:31] iyut commented on #2249
I think this is a good idea. The user will have easier way to manipulate the tax rate with this feature. But I will need to check the feasibility of this feature first. And since this feature might require big changes and more testing, what do you think if we create separate enhancement task?

I could add the TaxJar filter first as it's faster to implement, and so another user can have benefit of

[2022-06-13 08:28] waclawjacek commented on #2249
Sounds good! Please make sure that with this overriding logic, the filter is added late enough to override rates all of the time (or most of the time), and early enough so unnecessary calculations aren't performed. The reason why I'm saying this is I think you are currently filtering the address that will be sent to TaxJar.

Maybe it's more beneficial to exit the method early with a predefined ret

[2022-06-13 17:10] helgatheviking opened #2560 "Is there a debug mode testing labels/rates without a live credit card"
Instructions say to add a credit card:

Is there a way to test label output without buying real labels?

[2022-06-13 20:35] frosso commented on #2560
Hey @helgatheviking , thanks for reaching out!
At this time, we don't have instructions that would allow you to make test purchases without access to our internal infrastructure.
You can purchase "real" USPS labels and request a refund from the plugin's UI - the refund is immediate on your card.
You might be able to mock purchase requests/responses with a third-party library, but we don't support

[2022-06-14 11:08] iyut commented on #2249
The filter that I suggested in [this comment](https://github.com/Automattic/woocommerce-services/issues/2249#issuecomment-1144771767) is located in `WC_Connect_TaxJar_Integration::create_or_update_tax_rate()` method. The filter will be called **after TaxJar response** but before the plugin updating the tax rate using `WC_Tax::_update_tax_rate()` or `WC_Tax::insert_tax_rate()`.

I also plan to impl

[2022-06-15 09:51] waclawjacek commented on #2249
Gotcha! I took the time to understand the code there and it looks good! How about naming the filter something like `woocommerce_services_pre_taxjar_rate_save` to namespace it and to distinguish it from other filters that might be doing things with the tax rate in WCS&T?

Love it! :100: 🚀

Sorry for not being clear enough here!

So in this case, the merchant wants to override tax rates for Tenerife

[2022-06-15 22:38] maxlaf opened #2562 "Colorado Retail Delivery Fee"
Starting July 1st 2022, merchants who are subject to Colorado state sales tax are required to charge a $0.27 fee for taxable goods that are mailed, shipped, or otherwise delivered by motor vehicle to a purchaser in Colorado. See the new law [here](https://tax.colorado.gov/retail-delivery-fee)

The fee must be listed separately with the label "Retail Delivery Fee". It may not be possible to return

[2022-06-16 05:12] iyut commented on #2249
Thanks, this is good idea! I will surely implement this.

[2022-06-17 10:20] iyut opened #2564 "Investigate failed "Build Container and Run E2E Tests""
Lately, "Build Container and Run E2E Tests" will always failed :

[code]

Could you please investigate where these come from?

[2022-06-17 17:23] waclawjacek commented on #2560
I would just like to add that if what you are looking to do is printing a test label or if you'd like to give the logs a look, you can do both things in your WP admin dashboard under WooCommerce > Status > WooCommerce Shipping & Tax [as described here.](https://woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-shipping/#section-17)